// main: master.less



//@ws--search--input--clipStart: ~"circle(2% at 88% 48.5%)";
@ws--search--input--clipStart: ~"circle(6px at  calc(100% - 3.1rem) calc(100% - 4.1rem))";
//@ws--search--input--clipStart--onMobile: ~"circle(2% at 88% 48.5%)";
@ws--search--input--clipStart--onMobile: ~"circle(6px at  calc(100% - 3.1rem) calc(100% - 4.1rem))";
@ws--search--input--clipEnd: ~"circle(75% at 50% 50%)";



@ws--lvl2--clipStart: ~"circle( 2% at 48px 48px)";
@ws--lvl2--clipEnd: ~"circle( 150% at 48px 48px)";


.ws {

    @spacingLarge: 20rem;
    @spacingSmall: 5rem;

    @spacingLarge2: 10rem;
    @spacingSmall2: 5rem;

    @spacingLarge3: 5rem;
    @spacingSmall3: 2rem;


    @spacing: 10rem;
    @maxContentSize: 1200px;
    @transition: 300ms ease-in;
    @transitionTime: 300ms;
    @transitionInstTime: 100ms;


    @imgIconSearchBlack: "data:image/svg+xml,%3Csvg id='fd9811bf-acab-4c02-94dc-3f4cde30a1b7' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E .ctfvygubhinjihuygtyfrytguy %7B fill: %2341484e; %7D %3C/style%3E%3C/defs%3E%3Ctitle%3ESearch Icon%3C/title%3E%3Cpath class='ctfvygubhinjihuygtyfrytguy' d='M16.45953,15.069h-.73236l-.25952-.2503a6.03372,6.03372,0,1,0-.64886.64892l.25024.25952v.7323l2.622,2.61676A9.12963,9.12963,0,0,0,19.07629,17.691Zm-5.56189,0A4.17139,4.17139,0,1,1,15.069,10.8976,4.1658,4.1658,0,0,1,10.89764,15.069Z' /%3E%3C/svg%3E";

    @imgIconSearchWhite: "data:image/svg+xml,%3Csvg id='bf5293ec-0bea-4b6a-a0b6-6894cff5d9d7' data-name='a212c3c1-b994-403d-8210-ec79ca4f9b18' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E .f3bb0513-2dc1-4b1e-993e-89ed61cc7f63 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Ctitle%3ESearch Icon%3C/title%3E%3Cpath class='f3bb0513-2dc1-4b1e-993e-89ed61cc7f63' d='M16.5,15.1h-.7l-.3-.3a6.18706,6.18706,0,0,0,0-7.9,6.02536,6.02536,0,1,0-.6,8.5l.3.3v.7L17.8,19a9.266,9.266,0,0,0,1.4-1.4Zm-5.6,0a4.2,4.2,0,1,1,4.2-4.2A4.22535,4.22535,0,0,1,10.9,15.1Z'/%3E%3C/svg%3E%0A";





    section& {
        @BPsections1: ~ "screen and (max-width: 1000px)";
        @BPsections2: ~ "screen and (max-width: 500px)";


        overflow-x: clip;
        overflow-y: visible;



        & + & {
            padding-top: @spacingLarge;
        }

        & + &.subsection {
            padding-top: @spacingSmall;
        }

        &:first-child {
            padding-top: @spacingSmall;
        }


        &:last-child {
            padding-bottom: @spacingLarge;
        }


        &.subsection:last-child {
            padding-bottom: @spacingSmall;
        }


        @media @BPsections1 {


            & + & {
                padding-top: @spacingLarge2;
            }

            & + &.subsection {
                padding-top: @spacingSmall2;
            }

            &:first-child {
                padding-top: @spacingSmall2;
            }


            &:last-child {
                padding-bottom: @spacingLarge2;
            }


            &.subsection:last-child {
                padding-bottom: @spacingSmall2;
            }
        }


        //        @media @BPsections2 {
        //
        //
        //            & + & {
        //                padding-top: @spacingLarge3;
        //            }
        //
        //            & + &.subsection {
        //                padding-top: @spacingSmall3;
        //            }
        //
        //            &:first-child {
        //                padding-top: @spacingSmall3;
        //            }
        //
        //
        //            &:last-child {
        //                padding-bottom: @spacingLarge3;
        //            }
        //
        //
        //            &.subsection:last-child {
        //                padding-bottom: @spacingSmall3;
        //            }
        //        }








        & h1 {
            color: @blue-darkest;
        }

        & p {
            font-size: 1rem;
        }

        & .faded {
            color: @gray-medium;
        }

        & .title {
            padding-top: 0;
            padding-bottom: 0;
        }


        & > div + div {
            padding-top: @spacing/2;
        }

        & .grid-50 {
            & > div {

                width: ~"calc( ( 100% - 3rem ) / 2 )";

                &:nth-child(odd) {
                    margin-right: 3rem;
                }
            }
        }
        
        
        
        
        
    }



    & .checkmarks {
        padding-left: 0;

        margin-top: 3rem;

        & > li {
            .display(flex);

            font-size: 1.5rem;

            list-style-type: none;

            &:not(:nth-child(1)) {
                margin-bottom: 0.8rem;
            }

            &:before {
                content: "\2713";

                margin-right: 1rem;
                margin-left: 1rem;

                color: @blue-bright;
                font-size: 2.2rem;
                font-weight: 700;

                .transform(translateY(-0.2rem));
            }
        }
    }


    & .bullets {
        padding-left: 0;

        margin-top: 3rem;

        & > li {
            .display(flex);

            font-size: 1.5rem;

            list-style-type: none;

            &:not(:nth-child(1)) {
                margin-bottom: 0.8rem;
            }

            &:before {
                content: "\2022";

                margin-right: 1rem;
                margin-left: 1rem;

                color: @blue-bright;
                font-size: 2.2rem;
                font-weight: 700;

                .transform(translateY(-0.2rem));
            }
        }
    }



    & ul {
        padding-left: 0;

        margin-top: 3rem;

        & > li {
            .display(flex);

            font-size: 1.5rem;

            list-style-type: none;

            &:not(:nth-child(1)) {
                margin-bottom: 0.8rem;
            }

            &:before {
                content: "• ";

                margin-right: 1.5rem;
                margin-left: 1.5rem;

                color: @blue-bright;
                font-size: 2.2rem;
                font-weight: 700;

                .transform(translateY(-0.2rem));
            }
        }
    }



    & ol {
        counter-reset: my-awesome-counter;

        padding-left: 0;

        margin-top: 3rem;

        & > li {
            counter-increment: my-awesome-counter;

            .display(flex);

            font-size: 1.5rem;

            list-style-type: none;

            &:not(:nth-child(1)) {
                margin-bottom: 0.8rem;
            }

            &:before {
                content: counter(my-awesome-counter)".";

                width: 2rem;

                margin-right: 1rem;
                margin-left: 1rem;

                color: @blue-bright;
                font-size: 1.6rem;
                font-weight: 700;
                text-align: right;
            }
        }
    }



    & a.btn-primary {
        width: 100%;
        max-width: 20rem;

        padding: 1.2rem;

        transition: @transition  !important;

        &.transparent {
            color: @lr-orange  !important;

            background-color: @white  !important;

            border: 4px solid @lr-orange;

            background-image: none !important;

            &:hover {
                background-image: linear-gradient(-85deg, @lr-orange 0%, @lr-orange 40%, fade(@white, 20%) 50%, @lr-orange 60%, @lr-orange 100%) !important;

                background-image: linear-gradient(-85deg, @white 0%, @white 40%, fade(@lr-orange, 20%) 50%, @white 60%, @white 100%) !important;
            }
        }
    }


    & a.btn-secondary {
        width: 100%;
        max-width: 20rem;

        padding: 1.2rem;

        transition: @transition  !important;
    }





    &.logos-sphere {

        @beltSize: 8;
        @beltAmount: 2;
        @padding: 0.3rem;

        @logoHeight: 80px;
        @logoHeightSpecial: 100px;
        @logoHeightSpecial2: 150px;

        @BP1: ~ "screen and (max-width: 870px)";
        @BP2: ~ "screen and (max-width: 530px)";

        //        padding-bottom: 10rem;


        & > div {

            .display(flex);
            .flex-wrap(wrap);
            width: 100%;

            & > div {
                width: 100%;
                .display(flex);
                justify-content: center;

                &.line-4 {
                    & > div {
                        width: ~"calc( ( ( 100% - "@padding * @beltSize * 2 ~" ) / "@beltSize ~" ) * 0.95 )";
                    }

                    @media @BP1 {
                        display: none;
                    }
                }

                &.line-3 {
                    & > div {
                        width: ~"calc( ( ( 100% - "@padding * @beltSize * 2 ~" ) / "@beltSize ~" ) * 0.9 )";
                    }

                    @media @BP1 {
                        display: none;
                    }
                }

                &.line-2 {
                    & > div {
                        width: ~"calc( ( ( 100% - "@padding * @beltSize * 2 ~" ) / "@beltSize ~" ) * 0.8 )";
                    }

                    @media @BP1 {
                        display: none;
                    }
                }

                &.line-1 {
                    & > div {
                        width: ~"calc( ( ( 100% - "@padding * @beltSize * 2 ~" ) / "@beltSize ~" ) * 0.7 )";
                    }

                    @media @BP1 {
                        display: none;
                    }
                }




                & > div {

                    .display(flex);
                    .align-items(center);

                    width: ~"calc( ( 100% - "@padding * @beltSize * 2 ~" ) / "@beltSize ~")";
                    height: @logoHeight;

                    & > .content {
                        overflow: hidden;

                        .display(flex);
                        .align-items(center);

                        height: @logoHeight;

                        & > img {
                            display: block;
                            width: 100%;
                        }
                    }

                    &.popup {

                        margin: @padding;

                        height: @logoHeightSpecial;

                        border-radius: 0.5rem;

                        cursor: pointer;
                        transition: 300ms all ease-in-out;


                        @media @BP2 {
                            height: @logoHeightSpecial2;
                        }

                        & > .content {
                            height: @logoHeightSpecial;

                            @media @BP2 {
                                height: @logoHeightSpecial2;
                            }
                        }

                        &:hover {
                            transform: scale(0.9);

                            & > .content {
                                border: 2px solid @blue-bright;
                            }
                        }


                        & > .content {

                            border: 2px solid @gray-light;
                            border-radius: .5rem;

                            transition: 300ms all ease-in-out;
                        }
                    }
                }






                &.line-center {

                    @media @BP1 {

                        @beltSize2: @beltSize / 2;


                        .flex-wrap(wrap);

                        & > div {

                            width: ~"calc( ( ( 100% - "@padding * @beltSize2 * 2 ~" ) / "@beltSize2 ~" ) * 1 )";
                        }
                    }


                    @media @BP2 {
                        @beltSize3: @beltSize / 4;

                        & > div {

                            width: ~"calc( ( ( 100% - "@padding * @beltSize3 * 2 ~" ) / "@beltSize3 ~" ) * 1 )";
                        }
                    }
                }

            }

        }
    }





    &.testimonials {

        @BP1: ~ "screen and (max-width: 1000px)";

        & > div {

            @media @BP1 {
                .display(flex);
                .flex-direction(column);
            }


            & > div {
                margin-bottom: 5rem;

                @media @BP1 {
                    width: 100% !important;
                    max-width: 600px !important;

                    margin-right: auto !important;
                    margin-left: auto !important;
                }

                &:last-child {
                    margin-bottom: 0;

                    @media @BP1 {
                        margin-bottom: 0;
                    }
                }

                &:nth-last-child(2) {
                    margin-bottom: 0;

                    @media @BP1 {
                        margin-bottom: 5rem;
                    }
                }
            }


            & .graphic {

                & .person {
                    display: block;
                    width: 100%;

                    & > img {
                        display: block;
                        width: 100%;

                        .borderAction();
                    }
                }


                & .logo {
                    display: block;
                    width: 100%;
                    max-width: 60%;

                    margin-right: auto;
                    margin-left: auto;
                    margin-top: 2rem;

                    & > img {
                        display: block;
                        width: 100%;

                        border-radius: 0;
                    }
                }
            }


            & .quote {
                & > .block-quote {

                    & p {
                        font-size: 1rem;
                        line-height: 1.4;
                    }
                }
            }

        }

    }









    & .lr-form-small {
        @fieldHeight: 2rem;

        max-width: 400px;

        & > form {
            width: 100%;

            & > fieldset {
                position: relative;

                padding: 0;

                margin: 0;

                border: none;

                & > input[type="text"] {
                    .shadowAction();
                    .borderAction();

                    padding: 0;
                    padding-right: 8rem;
                    padding-left: 1.8rem;

                    color: @white;
                    font-size: 1.3rem;
                    line-height: 4.5rem;

                    background-color: @lr-orange;


                    &:focus {
                        & + label {
                            display: none;
                        }
                    }

                    &:valid {
                        & + label {
                            display: none;
                        }
                    }
                }

                & > input[type="submit"] {
                    position: absolute;
                    top: 0;
                    right: 0;

                    width: auto;
                    height: 100%;

                    color: @white;
                    background-color: @transparent;
                    font-size: 1.3rem;

                    border: none;

                    transition: @transition;

                    &:hover {
                        opacity: 0.8;
                    }
                }



                & > label {
                    position: absolute;
                    top: 0;
                    left: 0;

                    .display(flex);
                    .align-items(center);
                    width: auto;
                    height: 100%;

                    padding-left: 1.8rem;

                    color: fade(@white, 30%) !important;
                    font-size: 1.3rem !important;

                    pointer-events: none;
                    background-color: transparent;
                }
            }
        }
    }



    & .subtitle {
        max-width: 40rem;
        
        padding-bottom: 1rem;
        
        font-size: 1.7rem;
    }



    // loading animation for form buttons and etc
    & .loader {
        @size: 25px;
        @thickness: @size/10;


        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;


        display: none; // Toggle the visibility with none vs flex
        background-color: @white;
        .borderAction();



        & > div {
            // bg ring color
            border: @thickness solid fade(@lr-orange, 20%);
            // highlight ring color 
            border-top: @thickness solid @lr-orange;
            border-radius: 50%;
            width: @size;
            height: @size;

            margin: auto;

            animation: ws-loaderSpin 1s linear infinite;
        }
    }

    @keyframes ws-loaderSpin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }



    & .bg-circle {
        @BP1: ~ "screen and (max-width: 480px)";

        position: absolute;
        left: 0;
        max-width: 38rem;

        box-shadow: none;
        border-radius: 0;

        z-index: -1;

        &.circle1 {
            .transform(scale(.8) translate3d(-203px, 86px, 0px));
            
            animation-name: bgbg-circle1;
            animation-iteration-count: infinite;
            animation-duration: 20s;
            animation-timing-function: ease-in-out;

            .bgbg-circle1() {
                0% {
                    .transform(scale(.8) translate3d(-203px, 86px, 0px));
                }

                15% {
                    .transform(scale(.8) translate3d(-173px, 64px, 0px));
                }

                25% {
                    .transform(scale(.8) translate3d(-143px, 50px, 0px));
                }

                50% {
                    .transform(scale(.8) translate3d(-220px, 92px, 0px));
                }

                65% {
                    .transform(scale(.8) translate3d(-234px, 50px, 0px));
                }

                75% {
                    .transform(scale(.8) translate3d(-199px, 53px, 0px));
                }

                90% {
                    .transform(scale(.8) translate3d(-177px, 101px, 0px));
                }

                100% {
                    .transform(scale(.8) translate3d(-203px, 86px, 0px));
                }
            }


            @keyframes bgbg-circle1 {
                .bgbg-circle1();
            }

            @-webkit-keyframes bgbg-circle1 {
                .bgbg-circle1();
            }

        }

        &.circle2 {
            .transform(scale(1) translate3d(-203px, 20px, 0px));
            
            
            animation-name: bgbg-circle2;
            animation-iteration-count: infinite;
            animation-duration: 30s;
            animation-timing-function: ease-in-out;


            .bgbg-circle2() {
                0% {
                    .transform(scale(1) translate3d(-203px, 20px, 0px));
                }

                13% {
                    .transform(scale(1) translate3d(-173px, 64px, 0px));
                }

                26% {
                    .transform(scale(1) translate3d(-143px, 50px, 0px));
                }

                53% {
                    .transform(scale(1) translate3d(-220px, 10px, 0px));
                }

                62% {
                    .transform(scale(1) translate3d(-174px, -20px, 0px));
                }

                72% {
                    .transform(scale(1) translate3d(-199px, 23px, 0px));
                }

                91% {
                    .transform(scale(1) translate3d(-222px, -32px, 0px));
                }

                100% {
                    .transform(scale(1) translate3d(-203px, 20px, 0px));
                }
            }


            @keyframes bgbg-circle2 {
                .bgbg-circle2();
            }

            @-webkit-keyframes bgbg-circle2 {
                .bgbg-circle2();
            }
            
            
            
        }

        &.circle3 {
            .transform(scale(1.1) translate3d(203px, -20px, 0px));
            
            animation-name: bgbg-circle3;
            animation-iteration-count: infinite;
            animation-duration: 30s;
            animation-timing-function: ease-in-out;


            .bgbg-circle3() {
                0% {
                    .transform(scale(1.1) translate3d(203px, -20px, 0px));
                }

                17% {
                    .transform(scale(1.1) translate3d(163px, -45px, 0px));
                }

                26% {
                    .transform(scale(1.1) translate3d(195px, 0px, 0px));
                }

                48% {
                    .transform(scale(1.1) translate3d(170px, -13px, 0px));
                }

                63% {
                    .transform(scale(1.1) translate3d(179px, -30px, 0px));
                }

                79% {
                    .transform(scale(1.1) translate3d(222px, -3px, 0px));
                }

                89% {
                    .transform(scale(1.1) translate3d(232px, -42px, 0px));
                }

                100% {
                    .transform(scale(1.1) translate3d(203px, -20px, 0px));
                }
            }


            @keyframes bgbg-circle3 {
                .bgbg-circle3();
            }

            @-webkit-keyframes bgbg-circle3 {
                .bgbg-circle3();
            }
        }

        &.circle4 {
//            .transform(scale(.7) translate3d(224px, -316px, 0));
            .transform(scale(.7) translate3d(254px, -200px, 0));
            
            animation-name: bgbg-circle4;
            animation-iteration-count: infinite;
            animation-duration: 27s;
            animation-timing-function: ease-in-out;


            .bgbg-circle4() {
                0% {
                    .transform(scale(.7) translate3d(254px, -200px, 0));
                }

                12% {
                    .transform(scale(.7) translate3d(243px, -210px, 0px));
                }

                26% {
                    .transform(scale(.7) translate3d(274px, -204px, 0px));
                }

                47% {
                    .transform(scale(.7) translate3d(234px, -198px, 0px));
                }

                63% {
                    .transform(scale(.7) translate3d(244px, -222px, 0px));
                }

                70% {
                    .transform(scale(.7) translate3d(264px, -228px, 0px));
                }

                93% {
                    .transform(scale(.7) translate3d(273px, -208px, 0px));
                }

                100% {
                    .transform(scale(.7) translate3d(254px, -200px, 0));
                }
            }


            @keyframes bgbg-circle4 {
                .bgbg-circle4();
            }

            @-webkit-keyframes bgbg-circle4 {
                .bgbg-circle4();
            }

//            @media @BP1 {
//                .transform(scale(.7) translate3d(224px, -200px, 0));
//            }
        }
    }
















    &.home-hero {
        @socialIconSize: 4.5rem;
        @socialIconScale: 0.8;
        @transitionTime: 300ms;

        @BP1: ~ "screen and (max-width: 830px)";
        @BP2: ~ "screen and (max-width: 830px)";



        & .grid-50 {
            .display(flex);
            .align-items(center);


            @media @BP1 {
                flex-wrap: wrap;

                & > div {
                    .display(flex);
                    .flex-direction(column);
                    .justify-content(center);
                    .align-items(center);
                    width: 100%;

                    margin-right: 0;

                    &:nth-child(odd) {
                        margin-right: 0;
                    }
                }

                & img {
                    max-width: 500px;
                }

                & h1 {
                    text-align: center;
                }
            }


            & img {
                width: 100%;
                height: auto;


            }
        }

        & .grid-100 {
            position: relative;

            & > div {
                .display(flex);
                .flex-direction(row);
            }

            & .lr-form-small {
                @media @BP1 {
                    margin-right: auto;
                    margin-left: auto;
                }
            }

            & .social-icons {
                .display(flex);
                .align-items(center);
                .flex-wrap(wrap);

                @media @BP1 {
                    .justify-content(center);

                    margin-top: 1rem;

                    & > a {
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }

                & > .separator {
                    margin-left: 2rem;

                    & > p {
                        margin: 0;
                    }

                    @media @BP1 {
                        width: 100%;

                        margin-left: 0;

                        & > p {
                            text-align: center;
                        }
                    }
                }

                & > a {
                    position: relative;
                    width: @socialIconSize;
                    height: @socialIconSize;

                    padding: 1.2rem;

                    margin-left: 1rem;

                    background-color: @white;
                    .borderAction();

                    transition: @transitionTime ease-in;

                    & > img {
                        display: block;
                        width: 100%;

                        .transform(scale(@socialIconScale));

                        transition: @transitionTime ease-in opacity;
                    }

                    &:hover {
                        .shadowAction();
                    }

                    &:first-of-type {
                        @media @BP1 {
                            margin-left: 0;
                        }
                    }

                    &.loading {
                        & > .loader {
                            .display(flex);
                        }
                    }
                }
            }


            & p.faded {
                margin-top: 1rem;

                @media @BP1 {
                    text-align: center;
                }
            }


            & .error-message {
                position: absolute;
                top: @spacing/2;
                transform: translateY(0%);

                padding: 0.8rem 1.8rem;

                color: @lr-orange;
                font-size: 1rem;
                font-weight: 700;
                line-height: 1.2;

                transition: transform @transition;

                &.error {
                    transform: translateY(-100%);
                }
            }


            @media @BP1 {
                & > div {
                    .flex-direction(column);
                }
            }
        }

    }




    &.logos-scrolling {
        width: 100%;
        margin: 0;


        & > div {
            overflow: visible;

            position: relative;
            max-width: 100%;
            min-width: 1400px;

            padding: 0;


            animation-name: example454657687rextcfyvgbuhnj;
            animation-iteration-count: infinite;
            animation-duration: 40s;
            animation-timing-function: linear;


            .example454657687rextcfyvgbuhnj() {
                0% {
                    .transform(translateX(0%));
                }

                100% {
                    .transform(translateX(-100%));
                }
            }


            @keyframes example454657687rextcfyvgbuhnj {
                .example454657687rextcfyvgbuhnj();
            }

            @-webkit-keyframes example454657687rextcfyvgbuhnj {
                .example454657687rextcfyvgbuhnj();
            }



            &:hover {
                animation-play-state: paused;
            }





            & > a,
            & > div {
                position: absolute;
                top: 0;

                .display(flex);
                .flex-direction(row);

                width: 100%;

                &:nth-child(1) {
                    position: relative;
                    .transform(translateX(0%));
                    z-index: 2;
                }

                &:nth-child(2) {
                    position: absolute;
                    .transform(translateX(100%));
                    z-index: 2;
                }


                & > div {
                    width: ~"calc( 100% / 8 )";

                    & > img {
                        width: 100%;

                        .transform(scale(0.8));
                        transition: transform @transitionTime;

                        &:hover {
                            .transform(scale(0.7));
                        }
                    }

                }

            }

        }



        & > .content {
            position: absolute;
            .display(flex);
            .align-items(center);
            .justify-content(center);
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            text-align: center;

            & img {
                max-width: 100%;
                height: auto;

                transition: all 200ms;

                &.large {
                    width: 100%;
                }

                &.large-medium {
                    width: 85%;
                }

                &.medium {
                    width: 75%;
                }

                &.medium-small {
                    width: 65%;
                }

                &.small {
                    width: 50%;
                }

                &.x-small {
                    width: 20%;
                }
            }
        }



    }




    & .code_popout {

        .shadowAction();
        .borderImage();


        &.in-flow.with-preview {
            height: auto;
        }

        & > .code {
            & .code-heading {

                .display(flex);
                .align-items(center);

                &.first {
                    margin-top: 0;
                }

                & .btn-primary {
                    width: auto;

                    padding: 0.25rem 1rem;

                    margin-bottom: 0;
                    margin-right: 0;

                    font-size: 1rem;
                }

                & .code-tag {
                    font-size: 1rem;
                }
            }
        }
    }










    &.hero-standard {
        @BP1: ~ "screen and (max-width: 900px)";
        @BP2: ~ "screen and (max-width: 760px)"; // layout change
        @BP3: ~ "screen and (max-width: 600px)";
        @BP4: ~ "screen and (max-width: 599px)";

        @maxContentWidth: 28rem;


        &.alt {
            & > .grid-50 {

                & > div {
                    .display(flex);
                    .align-items(flex-end);
                    .flex-direction(column);
                    .order(2);

                    margin-top: 4rem;

                    z-index: 5;

                    &:nth-child(1) {
                        .order(1);

                        margin-top: 0rem;

                        z-index: 4;
                    }

                    & > p,
                    & > ul,
                    & > ol,
                    & > .logos {
                        margin-right: 4rem;
                        margin-left: 0;
                        text-align: right;

                        transition: margin 0ms;


                        @media @BP1 {
                            text-align: left;

                            margin-right: auto;
                            margin-left: auto;
                        }
                    }

                    & > p {
                        @media @BP1 {
                            text-align: right;
                        }

                        @media @BP2 {
                            text-align: left;
                        }
                    }

                    & > a {
                        margin-right: 4rem;
                        text-align: center;

                        transition: margin 0ms;

                        @media @BP1 {
                            margin-right: 0;
                        }

                        &.btn-secondary {

                            text-align: right;

                            @media @BP1 {
                                text-align: right;
                            }

                            @media @BP3 {
                                text-align: center;
                            }
                        }
                    }

                }
            }
        }





        & > .grid-50 {
            .display(flex);
            .align-items(center);
            overflow: visible;

            @media @BP2 {
                flex-wrap: wrap;
            }

            & > div {
                position: relative;
                overflow: visible;
                .display(flex);
                .flex-direction(column);

                z-index: 5;

                &:nth-child(2) {
                    z-index: 4;
                }

                @media @BP2 {
                    width: 100%;

                    margin-right: 0;
                    margin-left: 0;

                    &:nth-child(1) {
                        .order(2);

                        margin-right: 0;
                        margin-left: 0;
                        margin-top: 4rem;
                    }

                    &:nth-child(2) {
                        .order(1);
                    }
                }

                & > h1 {
                    max-width: @maxContentWidth;
                    margin-bottom: 0;

                    @media @BP2 {
                        margin-right: auto;
                        margin-left: auto;

                        text-align: center;
                    }

                    @media @BP3 {
                        font-size: 42px;
                        line-height: 1.2;
                    }

                    & + p,
                    & + ul,
                    & + ol,
                    & + a {
                        margin-top: 3rem;
                    }
                }


                & > p,
                & > ul,
                & > ol,
                & > a,
                & > .logos {
                    margin-left: 4rem;
                    margin-bottom: 0;
                    margin-top: @spacing/4;

                    transition: margin 0ms;

                    @media @BP1 {
                        text-align: left;

                        margin-right: auto;
                        margin-left: auto;
                    }
                }


                & a.btn-primary {

                    @media @BP1 {
                        margin-left: 0;

                        text-align: center;
                    }


                    @media @BP2 {
                        margin-right: auto;
                        margin-left: auto;

                        text-align: center;
                    }
                }

                & a.btn-secondary {
                    display: inline-block;

                    padding: 0;



                    color: @blue-bright;
                    font-weight: 400;
                    line-height: 1.2;
                    text-align: left;
                    text-transform: none;

                    border: none;

                    .transform(none);

                    &:hover {
                        background-color: transparent;
                        box-shadow: none;
                        text-decoration: underline;
                    }

                    @media @BP1 {
                        margin-left: 0;
                    }


                    @media @BP2 {
                        display: block;

                        margin-right: auto;
                        margin-left: auto;

                        text-align: center;
                    }
                }

                & p {
                    max-width: @maxContentWidth;

                    font-size: 2.2rem;
                    line-height: 1.3;

                    @media @BP2 {
                        text-align: left;

                        margin-right: auto;
                        margin-left: auto;
                    }
                }


                & p.resource-hero-type {
                    display: inline-block;
                    .widthFitContent();

                    padding: 0.5rem 1rem;

                    margin-bottom: 1rem;
                    margin-left: 0;
                    margin-top: 0;

                    color: @white;
                    text-transform: uppercase;
                    font-size: 1rem;

                    background-color: @blue-dark;
                    border-radius: 0.5rem;
                    
                    
                    @media @BP2 {
                        margin-right: auto;
                        margin-left: auto;
                    }
                }



                & img.screenshot {
                    width: 100%;
                    height: auto;

                    background-color: @white;

                    .shadowAction();
                    .borderImage();
                }

                & img.photo {
                    width: 100%;
                    height: auto;

                    background-color: @white;

                    .shadowAction();
                    .borderImage();
                }






                & .logos {
                    .display(flex);
                    .flex-direction(row);
                    .justify-content(space-between);
                    .align-items(center);


                    & > a {
                        margin-right: 2rem;

                        &:last-child {
                            margin-right: 0;
                        }


                        &:hover {
                            & > img {
                                .transform(scale(0.85));
                            }
                        }


                        & > img {
                            width: 100%;
                            max-width: 100%;

                            transition: transform @transitionTime;
                        }
                    }
                }
            }
        }


        

    }











    &.sidekick {
        @BP1: ~ "screen and (max-width: 900px)";
        @BP2: ~ "screen and (max-width: 760px)"; // layout change
        @BP3: ~ "screen and (max-width: 600px)";
        @BP4: ~ "screen and (max-width: 599px)";

        // comments to make the alt version text align right and not left

        @maxContentWidth: 28rem;

        &.alt {
            & > .grid-50 {

                & > div {
                    .display(flex);
                    //                    .align-items(flex-end);
                    .flex-direction(column);
                    .order(2);

                    margin-top: 4rem;

                    z-index: 5;

                    &:nth-child(1) {
                        .order(1);

                        margin-top: 0rem;

                        z-index: 4;
                    }

                    & > p,
                    & > ul,
                    & > ol,
                    & > .logos {
                        //                        margin-right: 4rem;
                        //                        margin-left: 0;
                        //                        text-align: right;

                        transition: margin 0ms;


                        @media @BP1 {
                            text-align: left;

                            margin-right: auto;
                            margin-left: auto;
                        }
                    }

                    & > ul.bullets,
                    & > ul.checkmarks {
                        //                        text-align: left;
                    }

                    & > p {
                        @media @BP1 {
                            //                            text-align: right;
                        }

                        @media @BP2 {
                            //                            text-align: left;
                        }
                    }

                    & > a {
                        //                        margin-right: 4rem;
                        text-align: center;

                        transition: margin 0ms;

                        @media @BP1 {
                            margin-right: 0;
                        }

                        &.btn-secondary {

                            //                            text-align: right;

                            @media @BP1 {
                                //                                text-align: right;
                            }

                            @media @BP3 {
                                //                                text-align: center;
                            }
                        }
                    }

                }
            }
        }





        & > .grid-50 {
            .display(flex);
            .align-items(center);
            overflow: visible;

            @media @BP2 {
                flex-wrap: wrap;
            }

            & > div {
                position: relative;
                overflow: visible;
                .display(flex);
                .flex-direction(column);

                z-index: 5;

                &:nth-child(2) {
                    z-index: 4;
                }

                @media @BP2 {
                    width: 100%;

                    margin-right: 0;
                    margin-left: 0;

                    &:nth-child(1) {
                        .order(2);

                        margin-right: 0;
                        margin-left: 0;
                        margin-top: 4rem;
                    }

                    &:nth-child(2) {
                        .order(1);
                    }
                }

                & > h2 {
                    max-width: @maxContentWidth;
                    margin-bottom: 0;

                    @media @BP2 {
                        margin-right: auto;
                        margin-left: auto;

                        text-align: center;
                    }

                    @media @BP3 {
                        font-size: 42px;
                        line-height: 1.2;
                    }

                    & + p,
                    & + ul,
                    & + ol,
                    & + a {
                        margin-top: 3rem;
                    }
                }


                & > p,
                & > ul,
                & > ol,
                & > a,
                & > .logos {
                    margin-left: 4rem;
                    margin-bottom: 0;
                    margin-top: @spacing/4;

                    transition: margin 0ms;

                    @media @BP1 {
                        text-align: left;

                        margin-right: auto;
                        margin-left: auto;
                    }
                }


                & a.btn-primary {

                    @media @BP1 {
                        margin-left: 0;

                        text-align: center;
                    }


                    @media @BP2 {
                        margin-right: auto;
                        margin-left: auto;

                        text-align: center;
                    }
                }

                & a.btn-secondary {
                    display: inline-block;

                    padding: 0;



                    color: @blue-bright;
                    font-weight: 400;
                    line-height: 1.2;
                    text-align: left;
                    text-transform: none;

                    border: none;

                    .transform(none);

                    &:hover {
                        background-color: transparent;
                        box-shadow: none;
                        text-decoration: underline;
                    }

                    @media @BP1 {
                        margin-left: 0;
                    }


                    @media @BP2 {
                        display: block;

                        margin-right: auto;
                        margin-left: auto;

                        text-align: center;
                    }
                }

                & p {
                    max-width: @maxContentWidth;

                    font-size: 2.2rem;
                    line-height: 1.3;

                    @media @BP2 {
                        text-align: left;

                        margin-right: auto;
                        margin-left: auto;
                    }
                }






                & img {
                    width: 100%;
                    max-width: 100%;
                    height: auto;

                    margin-right: auto;
                    margin-left: auto;

                    @media @BP2 {

                        max-width: 70%;
                    }
                }




                & img.screenshot {
                    width: 100%;
                    max-width: 100%;
                    height: auto;

                    .shadowAction();
                    .borderImage();
                }

                & img.photo {
                    width: 100%;
                    max-width: 100%;
                    height: auto;

                    .shadowAction();
                    .borderImage();
                }






                & .logos {
                    .display(flex);
                    .flex-direction(row);
                    .justify-content(space-between);
                    .align-items(center);


                    & > a {
                        margin-right: 2rem;

                        &:last-child {
                            margin-right: 0;
                        }


                        &:hover {
                            & > img {
                                .transform(scale(0.85));
                            }
                        }


                        & > img {
                            width: 100%;
                            max-width: 100%;

                            transition: transform @transitionTime;
                        }
                    }
                }
            }
        }

    }







    & .cards-showcase-v2 {
        @innerPadding: 0px;
        @imageHeight: 300px;

        @BPmiddle: ~ "screen and (max-width: 900px) and (min-width: 550px)";

        overflow: visible;



        &.interactive {
            & > div {
                padding-top: ~"calc( "@imageHeight~")";

                @media @BPmiddle {
                    padding-top: 0;
                }

                & > .actions {
                    &:before {
                        background-color: fade(@blue-bright, 50%);
                    }
                }
            }
        }

        &.small-headings {
            & > div {
                & > .heading {
                    & > h4 {
                        font-size: 1.3rem;
                        font-weight: 700;
                    }
                }
            }
        }

        & > div {
            .shadowAction();
            .borderImage();

            @media @BPmiddle {
                height: @imageHeight;
            }

            & > .image {
                width: 100%;

                margin-right: @innerPadding;
                margin-left: @innerPadding;
                margin-top: @innerPadding;

                border-radius: 0;

                @media @BPmiddle {
                    width: 50%;
                }

                & > .type {
                    padding-left: 8px;
                }
                
                & > .text-on-image {
                    background: @white;
                    color: @gray-dark;
                    border-bottom: 1px solid @gray-light;
                    
                    @media @BPmiddle {
                        border-bottom: 0px solid @gray-light;
                        border-right: 1px solid @gray-light;
                    }
                }

            }

            & > .heading {
                padding-top: 2rem;
                padding-left: 2rem;
                padding-right: 2rem;
                padding-bottom: 0.5rem;

                & > h4 {
                    font-size: 1.7rem;
                    font-weight: 700;
                }
            }


        }
    }








    &.choice-large {
        @BP1: ~ "screen and (max-width: 1000px)";
        @BP2: ~ "screen and (max-width: 850px)";

        padding: 0 !important;

        & > div {
            // grid-50
            .display(flex);
            max-width: 100%;

            padding: 0;

            margin: 0;


            @media @BP2 {
                .flex-wrap(wrap);
            }


            & > div {
                position: relative;
                width: 50%;

                margin: 0 !important;

                background-color: @white;

                @media @BP2 {
                    width: 100%;
                }


                &:nth-child(2) {
                    & > .cover {
                        .justify-content(flex-start);

                        @media @BP2 {
                            .justify-content(center);
                        }

                        & > div:not(.fade) {
                            //                            & p {
                            //                                //                                text-align: left;
                            //                                padding: 1.5rem;
                            //
                            //                                color: @white;
                            //                                text-align: center;
                            //                                
                            //                                background-color: @lr-orange;
                            //                                .borderAction();
                            //
                            ////                                @media @BP2 {
                            ////                                    text-align: center;
                            ////                                }
                            //                            }
                        }
                    }

                    & > .content {
                        .justify-content(flex-start);

                        @media @BP2 {
                            .justify-content(center);
                        }
                    }
                }



                & > .cover {
                    position: absolute;
                    top: 0;
                    left: 0;

                    .display(flex);
                    .justify-content(flex-end);
                    width: 100%;
                    height: 100%;

                    padding: 4rem;

                    background-color: @white;

                    z-index: 2;

                    transition: all @transitionTime;

                    @media @BP1 {
                        padding: 2rem;
                    }

                    @media @BP2 {
                        .justify-content(center);
                    }


                    &.hidden {
                        opacity: 0;
                        pointer-events: none;
                    }

                    &:hover {
                        background-color: @blue-pale;

                        text-decoration: none !important;

                        & > div {
                            & p {
                                text-decoration: none !important;
                            }
                        }

                        & > .fade.on {
                            opacity: 0;
                        }
                    }



                    & > .fade {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;

                        background-color: fade(@black, 20%);
                        opacity: 0;

                        pointer-events: none;

                        z-index: 3;
                        transition: all @transitionTime;

                        &.on {
                            opacity: 1;
                        }
                    }





                    & > div:not(.fade) {
                        max-width: @maxContentSize/4;
                        width: 100%;

                        & .image {
                            width: 100%;
                            max-width: 400px;
                            height: 300px;

                            margin-bottom: 2rem;

                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;

                            transition: @animationTiming all;
                        }

                        & p {
                            padding: 1.5rem;

                            color: @white;
                            font-size: 1.3rem;
                            font-weight: 700;
                            text-align: center;
                            text-transform: uppercase;

                            background-color: @lr-orange;
                            .borderAction();
                        }
                    }



                }


                & > .content {
                    .display(flex);
                    .justify-content(flex-end);

                    padding: 4rem;

                    background-color: @white;

                    z-index: 1;

                    @media @BP1 {
                        padding: 2rem;
                    }

                    @media @BP2 {
                        .justify-content(center);
                    }

                    & > div {
                        max-width: @maxContentSize/2;
                        width: @maxContentSize/2;

                        & > .section-with-calendly {
                            overflow: hidden;

                            .shadowAction();
                            .borderImage();
                        }


                        & > .lr-form-style-v2 {
                            .shadowAction();
                        }
                    }

                }
            }
        }
    }


    & #scheduleCall {

        & > .cover {
            & > div {
                & > .image {
                    background-image: url('/wp-content/themes/login-radius/images/ws/contact-sales/sc-1.svg');
                }
            }

        }

    }

    & #sendMessage {

        & > .cover {
            & > div {
                & > .image {
                    background-image: url('/wp-content/themes/login-radius/images/ws/contact-sales/sm-1.svg');
                }
            }

        }

    }








    nav& {
        @megaMenuBPMobile: 1360px;
        @menuSizeMobile: ~ "screen and (max-width: "@megaMenuBPMobile ~ ")";


        @height: 8rem;
        @barMobileHeight: 6rem;
        @logoPadding: 3rem;
        @logoWidth: 18rem;
        @mainLinksPadding: 1.5rem;

        position: static;

        .display(flex);
        .flex-direction(column);

        background-color: @white;

        & .lvl1 {
            .display(flex);
            height: @height;


            @media @menuSizeMobile {
                position: fixed;
                overflow-x: auto;

                display: none;
                .flex-direction(column);
                width: 100%;
                height: 100%;

                background-color: @white;
                z-index: 900;
            }

            &.opened {
                .display(flex);

                @media @menuSizeMobile {
                    .display(flex);
                }
            }

            & > div {
                &:nth-child(1) {
                    .display(flex);
                    flex-grow: 1;


                    @media @menuSizeMobile {
                        flex-grow: 0;
                        .flex-direction(column);
                        .align-items(center);
                    }


                    & > .logo {
                        .display(flex);
                        .align-items(center);
                        max-width: @logoWidth;
                        width: @logoWidth;
                        max-height: @height;
                        height: @height;

                        padding: 0 @logoPadding;

                        background-color: @white;

                        transition: background-color @transition;

                        & > svg {
                            width: 100%;
                            max-width: 100%;
                        }

                        &:hover {

                            background-color: @blue-pale;

                        }


                        @media @menuSizeMobile {

                            max-height: 6rem;

                            & > svg {
                                width: 150px;
                                max-width: 150px;
                            }
                        }
                    }

                    & > .main-links {
                        .display(flex);
                        .align-items(stretch);

                        @media @menuSizeMobile {
                            .flex-direction(column);
                            .align-items(center);

                            width: 100%;
                        }

                        & > a {
                            .display(flex);
                            .align-items(center);

                            padding: 0 @mainLinksPadding;

                            font-size: 1.3rem;
                            font-weight: 700;
                            color: @gray-dark;

                            background-color: @white;

                            transition: background-color @transition;

                            &:hover {
                                background-color: @blue-pale;
                            }

                            @media @menuSizeMobile {
                                .justify-content(center);
                                width: 100%;

                                padding: 1rem;
                            }
                        }
                    }
                }

                &:nth-child(2) {

                    @searchButtonWidth: 6rem;
                    @searchHeight: 45px;
                    @menuLinkHeight: 71px;

                    .display(flex);
                    .align-items(center);

                    @media @menuSizeMobile {
                        .flex-direction(column);

                        padding-top: 2rem;
                    }


                    & > .btn-primary {
                        width: auto;

                        padding: 1.5rem;

                        color: @white;
                        font-size: 1.4rem;
                        white-space: nowrap;

                        .btnBG();

                        background-color: @lr-orange;
                    }

                    & > .btn-login {
                        padding: 1.5rem;

                        margin-left: 1.5rem;

                        color: @blue-bright;
                        font-size: 1.4rem;
                        line-height: 1.2;
                        font-weight: 700;
                        text-transform: uppercase;

                        .borderAction();

                        transition: background-color @transition;

                        &:hover {
                            background-color: @blue-pale;
                        }

                        @media @menuSizeMobile {
                            width: 100%;

                            margin-left: 0;

                            text-align: center;
                        }
                    }

                    & > .btn-search {

                        display: block;
                        position: relative;
                        width: @searchButtonWidth;
                        height: 100%;

                        margin-right: 1.5rem;

                        background-image: url(@imgIconSearchBlack);
                        background-repeat: no-repeat;
                        background-position: calc(100% - 1.8rem) center;
                        background-size: 38px;

                        z-index: 22;

                        transition: background-color @transition;

                        &:hover {
                            opacity: 1;

                            background-color: @blue-pale;
                        }

                        @media @menuSizeMobile {
                            overflow: hidden;

                            .display(flex);
                            .align-items(center);

                            width: 20rem;
                            height: @height;

                            margin-right: 0;
                            margin-top: 2rem;
                            margin-bottom: 4rem;

                            .borderAction();

                            background-color: @blue-pale;
                        }


                        & > .search-label-mobile {
                            display: none;

                            padding: 2rem;

                            margin: 0;


                            @media @menuSizeMobile {
                                .display(flex);
                            }
                        }



                        & > .mega-menu-search-dark-icon {
                            position: absolute;
                            width: @searchButtonWidth;
                            height: 100%;
                            right: 0;
                            top: 0;

                            background-image: url(@imgIconSearchWhite);
                            background-repeat: no-repeat;
                            background-position: calc(100% - 1.8rem) center;
                            background-size: 38px;

                            z-index: 99;

                            opacity: 0;
                        }


                        & > .search-form {
                            position: absolute;
                            top: 0;
                            right: 0;

                            .display(flex);
                            .align-items(center);

                            width: 350px;
                            height: 100%;

                            background-color: @white;

                            clip-path: @ws--search--input--clipStart;
                            -webkit-clip-path: @ws--search--input--clipStart;

                            border: none;

                            @media @menuSizeMobile {
                                width: 20rem !important;
                            }


                            @media @inIE {
                                width: 100%;
                                opacity: 0;
                            }

                            & > .search-form-input {
                                width: 100%;
                                height: 100%;

                                padding: 2rem;
                                padding-right: 6rem;

                                color: @white;

                                border: none;

                                background-color: @transparent;

                                &::placeholder {
                                    color: fade(@white, 40%);
                                }
                            }

                            & > input[type=submit] {
                                display: none;
                            }
                        }


                    }






















                }
            }
        }



        & > .lvl2 {
            position: relative;
            display: none;
            .flex-direction(row);
            .justify-content(center);
            width: 100%;


            &.active {
                .display(flex);
            }


            @media @menuSizeMobile {
                margin-top: @barMobileHeight;
            }

            & > .items {
                .display(flex);
                .flex-direction(row);
                .flex-wrap(nowrap);

                pointer-events: all;


                & > div {
                    .display(flex);
                    .flex-direction(row);
                    .justify-content(center);

                    & > a {
                        .display(flex);
                        .flex-direction(column);
                        .align-items(center);
                        width: @height + @mainLinksPadding*2;
                        min-width: @height + @mainLinksPadding*2;
                        height: @height;

                        padding: 0 @mainLinksPadding;

                        background-color: @white;

                        transition: background-color @transition;

                        pointer-events: all;

                        &:hover {
                            background-color: @blue-pale;
                        }

                        &.active {
                            background-color: @blue-pale;

                            & > p {
                                color: @blue-bright;
                                font-weight: 700;
                            }
                        }

                        & > svg {
                            width: 100%;

                            margin-top: 1rem;
                        }

                        & > p {
                            margin-bottom: 1rem;
                        }

                    }
                }
            }


            & > .shadow {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;

                .shadowInner();

                background-color: @transparent;

                pointer-events: none;
                z-index: 20;
            }
        }



        & > .bar-mobile {
            @height: 6rem;

            display: none;
            .justify-content(center);

            background-color: @white;

            z-index: 910;

            @media @menuSizeMobile {
                position: fixed;
                .display(flex);

                width: 100%;
            }

            & .logo {
                margin-left: 0;
                margin-right: auto;

                background-color: @white;

                @media @menuSizeMobile {
                    .display(flex);
                    .justify-content(center);
                    width: 100%;
                    max-width: 100%;
                }
            }

            & > .hamburger {
                position: absolute;
                left: 0;

                .display(flex);
                .align-items(center);
                .justify-content(center);
                width: @barMobileHeight;
                height: @barMobileHeight;

                z-index: 902;


                & > span {
                    position: absolute;
                    display: block;
                    width: 50%;
                    height: .15rem;
                    margin-right: auto;
                    margin-left: auto;
                    background-color: @blue-bright;
                    border-radius: 20px;
                    transition: transform 300ms, background-color 300ms;

                    @media @inIE {
                        top: 32px;
                        left: 24px;
                    }

                    &:nth-child(1) {
                        transform: rotate(0deg) translateY(-0.7rem);
                    }

                    &:nth-child(2) {
                        transform: rotate(0deg) translateY(0.7rem);
                    }
                }


                &.opened {

                    & > span {
                        &:nth-child(1) {
                            transform: rotate(45deg) translateY(0);
                        }

                        &:nth-child(2) {
                            transform: rotate(-45deg) translateY(0);
                        }
                    }

                }
            }
        }

    }




    nav&.lite > .bar {
        .display(flex);
        .justify-content(center);

        background-color: @white;

        & > .logo {
            .justify-content(center);

            margin-right: 0;
            margin-left: 0;

            background-color: @white;

            & > svg {
                width: 150px;
                max-width: 150px;
            }
        }
    }




    & .pricing-cards {
        @verticalSpacingBetween: 2rem;
        @cardsPaddingSides: 3rem;

        overflow: visible;
        position: relative;

        .display(flex);




        &.cards2 {
            @BP1: ~ "screen and (max-width: 750px)";

            @media @BP1 {
                .flex-direction(column);
            }


            & > div {

                width: ~"calc( ( 100% - "@cardsPaddingSides ~" ) /2 )";

                &:not(:first-child) {
                    @media @BP1 {
                        margin-right: 0;
                        margin-left: 0;
                        margin-top: @verticalSpacingBetween;
                    }
                }


                @media @BP1 {
                    width: 100%;

                    margin-right: 0;
                    margin-left: 0;
                }
            }
        }

        &.cards3 {
            @BP1: ~ "screen and (max-width: 1100px)";

            @media @BP1 {
                .flex-direction(column);
            }


            & > div {

                width: ~"calc( ( 100% - "@cardsPaddingSides*2 ~" ) /3 )";

                &:not(:first-child) {
                    @media @BP1 {
                        width: 100%;
                        max-width: 600px;

                        margin-right: auto;
                        margin-left: auto;
                        margin-top: @verticalSpacingBetween;
                    }
                }


                @media @BP1 {
                    width: 100%;
                    max-width: 600px;

                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }


        & ul {
            & li {
                &:before {
                    content: none;
                }
            }
        }


        & > div {
            position: relative;

            padding-bottom: 15rem;

            background-color: @white;

            .shadowAction();
            .borderImage();

            &:not(:first-child) {
                margin-left: @cardsPaddingSides;
            }



            & > * {
                padding-right: @cardsPaddingSides;
                padding-left: @cardsPaddingSides;
            }

            & > h3 {
                padding-top: @verticalSpacingBetween;
                padding-bottom: @verticalSpacingBetween;

                margin: 0;

                color: @blue-bright;
                font-size: 1.6rem;
                font-weight: 700;

                border-bottom: 1px solid @gray-light;
            }



            & > .price-numbers-block {
                margin-top: 2rem;

                & > h4 {
                    padding-top: 0.5rem;

                    margin-bottom: 0.5rem;
                }

                & .price-number {
                    font-size: 3rem;
                }
            }

            & > .description {
                padding-top: @verticalSpacingBetween;

                margin-bottom: 0;

                font-size: 1.3rem;
                font-weight: 700;
                color: @gray-dark;
            }

            & > ul {
                padding-bottom: 0;

                margin-top: @verticalSpacingBetween;
                margin-bottom: 0;

                & > li {
                    display: block;

                    margin-top: 0;
                    margin-bottom: 0;

                    font-size: 1.1rem;
                    line-height: 1.2;

                    &:not(:first-child) {
                        margin-top: 1rem;
                    }

                    &:before {
                        margin-right: 0.5rem;
                        margin-left: 0;

                        .transform(scale(0.5));
                    }
                }
            }


            & > .bottom {
                position: absolute;
                width: 100%;
                bottom: 0;

                & > .btn-primary {
                    width: 100%;
                    max-width: 100%;

                    margin-top: @verticalSpacingBetween;
                    margin-bottom: 0;
                }

                & > .btn-secondary {
                    width: 100%;
                    max-width: 100%;

                    margin-top: @verticalSpacingBetween;
                    margin-bottom: 0;
                }

                & > .description-supporting {
                    margin-top: @verticalSpacingBetween;
                    margin-bottom: @verticalSpacingBetween;

                    text-align: center;
                    font-size: 1.1rem;
                    line-height: 1.3;
                }
            }



        }
    }




    & .lr-table-style {

        @minWidth: 950px;

        & table {
            min-width: @minWidth;
        }

        & td,
        & th {
            padding: 1rem 2rem;
        }

        & .accordion-head {
            @headSize: 4rem;

            height: @headSize;

            &-bg {
                min-width: @minWidth;
            }

            & > p {
                padding: 0 2rem;
            }

            & .icon {
                width: @headSize;
                height: @headSize;

                & > span {
                    width: 35%;
                }
            }

            & + table {
                display: none;
            }
        }


        &.comparison {

            & tbody {
                & tr {
                    &:last-child {
                        & td {
                            border-bottom: none;
                        }
                    }
                }

                & td {
                    &:nth-child(1) {
                        color: @gray-dark;
                        font-weight: 700;

                        background-color: @white;

                        border: none;
                        border-bottom: 1px solid @blue-pale;
                        border-right: 1px solid @blue-pale;
                    }

                    &:not(:nth-child(1)) {
                        background-color: @white  !important;
                        border: none;
                        border-bottom: 1px solid @blue-pale;
                    }
                }
            }



            &.three-items {

                & thead {
                    & th {
                        height: 5rem;

                        background-color: @white;

                        & > a {
                            line-height: 1.2;
                            font-size: 1.1rem;

                            &:not(.expand-all) {
                                text-decoration: underline;
                            }
                        }
                    }
                }

            }


        }

        & .accordion-head {

            &.expanded {
                & .accordion-head-bg {
                    background-color: @blue-pale;
                }
            }

            & .accordion-head-bg {
                background-color: @blue-pale;
            }

            & > p {
                color: @gray-dark;
            }
        }

        & .icon {
            & > span {
                background-color: @blue-bright;
            }
        }




        & .tooltip-container {

            & > span {
                padding-right: 1rem;
            }

            & > .tooltip {
                left: 0.5rem;
                right: 0.5rem;

                font-weight: 400;

                background-color: @white  !important;


                &:after {
                    border-top-color: @white  !important;
                }
            }
        }

    }














    & .pricing-sliders {

        @BP1: ~ "screen and (max-width: 700px)";

        padding-top: 0rem;


        & .selector {
            position: relative;

            @media @BP1 {
                width: 100%;
            }

            & .ranges {
                display: flex;
                justify-content: space-between;

                &.ranges-with-ticks {
                    position: absolute;
                    width: 100%;
                    top: 17px;
                    .justify-content(space-between);

                    pointer-events: none;
                }


                & > p {
                    position: relative;
                    width: @gutter;

                    margin-bottom: 0;

                    text-align: center;
                    font-size: .7rem;


                    &.ticks {
                        .display(flex);
                        .justify-content(center);
                        width: @gutter;
                        height: 6px;

                        &:after {
                            content: "";
                            .display(flex);
                            width: 2px;

                            background-color: @white;

                        }
                    }
                }
            }



            &.slider-1-1 {

                & p {
                    font-size: .7rem;
                }
            }

        }


        & + .pricing-cards {
            margin-top: 0;
        }

    }






    &.footer-cta {
        padding-top: 5rem;
    }



    
    
    
    
    &.content-3 {
        @BP1: ~"screen and (max-width: 850px)";
        @BP2: ~"screen and (max-width: 600px)";
        
        & > .grid-33 {
            
            padding-top: 2rem;
            
            
            @media @BP1 {
                .display(flex);
                .flex-direction(row);
                .flex-wrap(wrap);
                .justify-content(center);
                
                margin-right: -@gutter;
                margin-left: -@gutter;
                margin-bottom: -2rem;
            }
            
            & > div {
                
                & .text {
                    & > p {
                        font-size: 1.2rem;
                        line-height: 1.6;
                    }
                }
                
                
                @media @BP1 {
                    width: ~"calc( ( 100% - " @gutter ~" * 3 ) / 2 )"; // 33.33% - ( " @gutter ~" * 2 / 3))";
                    
                    margin-right: @gutter/2;
                    margin-left: @gutter/2;
                    margin-bottom: 2rem;
                }
                
                @media @BP2 {
                    width: ~"calc( ( 100% - " @gutter ~" * 2 ) )"; // 33.33% - ( " @gutter ~" * 2 / 3))";
                    
//                    margin-right: @gutter/2;
//                    margin-left: @gutter/2;
//                    margin-bottom: 2rem;
                }
                
            }
            
        }
    }
    
    
    
    



}















.ws-searchInputOpen {
    .animation-name(ws-searchInputOpen);


    @media @inIE {
        .animation-name(ws-searchInputOpen--IE);
    }

    .animation-duration(@animationTiming);
    .animation-fill-mode(forwards);
    .animation-direction(normal);
    .animation-timing-function(ease-in-out);



}

@keyframes ws-searchInputOpen {
    .animWS-SearchInputOpen();
}

@-webkit-keyframes ws-searchInputOpen {
    .animWS-SearchInputOpen();
}

.animWS-SearchInputOpen() {
    0% {
        clip-path: @ws--search--input--clipStart;
        -webkit-clip-path: @ws--search--input--clipStart;

        background-color: @white;
    }

    25% {
        background-color: @blue-bright;
    }

    100% {
        clip-path: @ws--search--input--clipEnd;
        -webkit-clip-path: @ws--search--input--clipEnd;

        background-color: @blue-bright;
    }
}


@keyframes ws-searchInputOpen--mobile {
    .animWS-SearchInputOpen--mobile();
}

@-webkit-keyframes ws-searchInputOpen--mobile {
    .animWS-SearchInputOpen--mobile();
}

.animWS-SearchInputOpen--mobile() {
    0% {
        clip-path: @ws--search--input--clipStart--onMobile;
        -webkit-clip-path: @ws--search--input--clipStart--onMobile;

        background-color: @white;
    }

    25% {
        background-color: @blue-bright;
    }

    100% {
        clip-path: @ws--search--input--clipEnd;
        -webkit-clip-path: @ws--search--input--clipEnd;

        background-color: @blue-bright;
    }
}



@keyframes ws-searchInputOpen--IE {
    .animWS-SearchInputOpen--IE();
}

@-webkit-keyframes ws-searchInputOpen--IE {
    .animWS-SearchInputOpen--IE();
}

.animWS-SearchInputOpen--IE() {
    0% {
        width: 100%;

        clip-path: none;

        background-color: @white;

        opacity: 0;
    }

    25% {

        clip-path: none;

        background-color: @blue-bright;

        opacity: 1;
    }

    100% {
        width: 320px;

        clip-path: none;

        background-color: @blue-bright;

        opacity: 1;
    }
}






.ws-searchInputClose {
    .animation-name(ws-searchInputClose);

    @media @inIE {
        right: auto;
    }

    .animation-duration(@animationTiming);
    .animation-fill-mode(forwards);
    .animation-direction(normal);
    .animation-timing-function(ease-in-out);


}

@keyframes ws-searchInputClose {
    .animWS-SearchInputClose();
}

@-webkit-keyframes ws-searchInputClose {
    .animWS-SearchInputClose();
}

.animWS-SearchInputClose() {
    0% {
        clip-path: @ws--search--input--clipEnd;
        -webkit-clip-path: @ws--search--input--clipEnd;

        background-color: @blue-bright;
    }

    75% {
        background-color: @white;
    }

    100% {
        clip-path: @ws--search--input--clipStart;
        -webkit-clip-path: @ws--search--input--clipStart;

        background-color: @white;
    }
}



@keyframes ws-searchInputClose--mobile {
    .animWS-SearchInputClose--mobile();
}

@-webkit-keyframes ws-searchInputClose--mobile {
    .animWS-SearchInputClose--mobile();
}

.animWS-SearchInputClose--mobile() {
    0% {
        clip-path: @ws--search--input--clipEnd;
        -webkit-clip-path: @ws--search--input--clipEnd;

        background-color: @blue-bright;
    }

    75% {
        background-color: @white;
    }

    100% {
        clip-path: @ws--search--input--clipStart--onMobile;
        -webkit-clip-path: @ws--search--input--clipStart--onMobile;

        background-color: @white;
    }
}



@keyframes ws-searchInputClose--IE {
    .animWS-SearchInputClose--IE();
}

@-webkit-keyframes ws-searchInputClose--IE {
    .animWS-SearchInputClose--IE();
}

.animWS-SearchInputClose--IE() {
    0% {
        width: 100%;

        clip-path: none;

        background-color: @white;

        opacity: 1;
    }

    75% {
        clip-path: none;

        background-color: @blue-bright;

        opacity: 1;
    }

    100% {
        width: 320px;

        clip-path: none;

        background-color: @white;

        opacity: 0;
    }
}













.ws-searchIconChange {
    .animation-name(ws-searchIconChange);
    .animation-duration(@animationTiming);
    .animation-fill-mode(forwards);
    .animation-direction(normal);
    .animation-timing-function(ease-in-out);
}

@keyframes ws-searchIconChange {
    .animWS-SearchIconChange();
}

@-webkit-keyframes ws-searchIconChange {
    .animWS-SearchIconChange();
}

.animWS-SearchIconChange() {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




.ws-searchIconChangeBack {
    .animation-name(ws-searchIconChangeBack);
    .animation-duration(@animationTiming);
    .animation-fill-mode(forwards);
    .animation-direction(normal);
    .animation-timing-function(ease-in-out);
}

@keyframes ws-searchIconChangeBack {
    .animWS-SearchIconChangeBack();
}

@-webkit-keyframes ws-searchIconChangeBack {
    .animWS-SearchIconChangeBack();
}

.animWS-SearchIconChangeBack() {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}








// MOBILE THEN DESK HIDE? ANIM FINAL???


.ws-lvl2Open {
    .animation-name(ws-lvl2OpenReset);

    @media @menuSizeMobile {

        .animation-name(ws-lvl2Open);
    }

    .animation-duration(@animationTiming);
    .animation-fill-mode(forwards);
    .animation-direction(normal);
    .animation-timing-function(ease-in-out);


}

@keyframes ws-lvl2Open {
    .animWS-Lvl2Open();
}

@-webkit-keyframes ws-lvl2Open {
    .animWS-Lvl2Open();
}

.animWS-Lvl2Open() {
    0% {
        clip-path: @ws--lvl2--clipStart;
        -webkit-clip-path: @ws--lvl2--clipStart;
    }

    100% {
        clip-path: @ws--lvl2--clipEnd;
        -webkit-clip-path: @ws--lvl2--clipEnd;
    }
}

@keyframes ws-lvl2OpenReset {
    .animWS-Lvl2OpenReset();
}

@-webkit-keyframes ws-lvl2OpenReset {
    .animWS-Lvl2OpenReset();
}

.animWS-Lvl2OpenReset() {
    0% {
        clip-path: @ws--lvl2--clipEnd;
        -webkit-clip-path: @ws--lvl2--clipEnd;
    }

    100% {
        clip-path: @ws--lvl2--clipEnd;
        -webkit-clip-path: @ws--lvl2--clipEnd;
    }
}




.ws-lvl2Close {

    .animation-name(ws-lvl2OpenReset);

    @media @menuSizeMobile {

        .animation-name(ws-lvl2Close);
    }

    .animation-duration(@animationTiming);
    .animation-fill-mode(forwards);
    .animation-direction(normal);
    .animation-timing-function(ease-in-out);


}

@keyframes ws-lvl2Close {
    .animWS-Lvl2Close();
}

@-webkit-keyframes ws-lvl2Close {
    .animWS-Lvl2Close();
}

.animWS-Lvl2Close() {
    0% {
        clip-path: @ws--lvl2--clipEnd;
        -webkit-clip-path: @ws--lvl2--clipEnd;
    }

    100% {
        clip-path: @ws--lvl2--clipStart;
        -webkit-clip-path: @ws--lvl2--clipStart;
    }
}
