// main: ../master.less

// This file is for the global footer, including logo, site map links, privacy, copyright, compliance logos, footer cta, etc.

@footerBlockPaddings: 100px;

@footerSectionSpacing: 64px;

@mediaLinks: ~"screen and (max-width: 1000px)";
@mediaFooter: ~"screen and (max-width: 800px)";
@footerCopyrightLinksBreakPoint: ~"screen and (max-width: 900px)";

@footer-backgrounds-action-bottom-right: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 2000 500' style='enable-background:new 0 0 2000 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bclip-path:url(%23SVGID_2_);%7D .st1%7Bopacity:0.5;%7D .st2%7Bfill:%23E2F2FC;%7D%0A%3C/style%3E%3Ctitle%3EA BR%3C/title%3E%3Cg id='a1108eb9-8f9f-437c-991f-cda86e8db2f6'%3E%3Cg id='a483b5f0-3cd4-4b70-9661-bc4d9788cee1'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_1_' x='1681' y='36.2' width='319' height='463.8'/%3E%3C/defs%3E%3CclipPath id='SVGID_2_'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cg class='st0'%3E%3Cg class='st1'%3E%3Ccircle class='st2' cx='2016' cy='361' r='289'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A";

@footer-backgrounds-action-top-left: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 2000 500' style='enable-background:new 0 0 2000 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bclip-path:url(%23SVGID_2_);%7D .st1%7Bopacity:0.3;%7D .st2%7Bfill:%23E2F2FC;%7D%0A%3C/style%3E%3Ctitle%3EA TL%3C/title%3E%3Cg id='b9b69e7a-05f4-400a-836a-baf8945357c4'%3E%3Cg id='a1db0ef8-e0d6-4259-b931-9182bb5a822a'%3E%3Cg%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_1_' width='257' height='430'/%3E%3C/defs%3E%3CclipPath id='SVGID_2_'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cg class='st0'%3E%3Cg class='st1'%3E%3Ccircle class='st2' cx='72' cy='251' r='163'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A";

@footer-backgrounds-footer-bottom-left: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 2000 500' style='enable-background:new 0 0 2000 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bclip-path:url(%23SVGID_2_);%7D .st1%7Bopacity:3.000000e-02;%7D .st2%7Bfill:%23E2F2FC;%7D%0A%3C/style%3E%3Ctitle%3EF BL%3C/title%3E%3Cg id='feb6b251-ae94-4e33-a724-7b60f8f301f3'%3E%3Cg id='be6f1cf3-06e5-43ee-83ed-71b5306e8871'%3E%3Cg%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_1_' y='228' width='441' height='272'/%3E%3C/defs%3E%3CclipPath id='SVGID_2_'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cg class='st0'%3E%3Cg class='st1'%3E%3Ccircle class='st2' cx='113' cy='552' r='289'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A";

@footer-backgrounds-footer-top-right: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 2000 500' style='enable-background:new 0 0 2000 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bclip-path:url(%23SVGID_2_);%7D .st1%7Bopacity:5.000000e-02;%7D .st2%7Bfill:%23E2F2FC;%7D%0A%3C/style%3E%3Ctitle%3EF TR%3C/title%3E%3Cg id='e326d5d2-d6f0-42e9-b08a-18f4cb6c1bbe'%3E%3Cg id='f3bc2b47-f465-4c46-b1bd-daaf7475940b'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_1_' x='1681' width='319' height='215'/%3E%3C/defs%3E%3CclipPath id='SVGID_2_'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cg class='st0'%3E%3Cg class='st1'%3E%3Ccircle class='st2' cx='2016' cy='-139' r='289'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A";



@lastSectionBG: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 2000 500' style='enable-background:new 0 0 2000 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.15;clip-path:url(%23SVGID_2_);%7D .st1%7Bopacity:0.5;%7D .st2%7Bfill:%23008ECF;%7D%0A%3C/style%3E%3Cg id='a1108eb9-8f9f-437c-991f-cda86e8db2f6'%3E%3Cg id='a483b5f0-3cd4-4b70-9661-bc4d9788cee1'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_1_' x='1681' y='36.2' width='319' height='463.8'/%3E%3C/defs%3E%3CclipPath id='SVGID_2_'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cg class='st0'%3E%3Cg class='st1'%3E%3Ccircle class='st2' cx='2016' cy='361' r='289'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A";


// -----------------------------------------------------------------


.last-section {
    background-image: url(@lastSectionBG);
    background-repeat: no-repeat;
    background-position: bottom right;
}



.footer {

    &-cta {
        background-image: url(@footer-backgrounds-action-bottom-right), url(@footer-backgrounds-action-top-left);
        background-repeat: no-repeat, no-repeat;
        background-position: bottom right, top left;

        & p {
            font-size: 23px;
            text-align: center;
            line-height: 1.33;
        }

        & .btn-primary {
            display: block !important;
            
            margin: auto;
            margin-top: 60px;

            @media screen and (max-width: 600px) {
                width: 100%;
            }
        }

    }

    &-main {
        padding-top: @footerBlockPaddings;
        padding-bottom: @footerBlockPaddings/4*3;
        
        background-image: url(@footer-backgrounds-footer-top-right), url(@footer-backgrounds-footer-bottom-left);
        background-repeat: no-repeat, no-repeat;
        background-position: top right, bottom left;

        @media screen and (max-width: 600px) {
            padding-top: 64px;
        }

        & .subsection {
            margin-bottom: @footerSectionSpacing;

            &:last-of-type {
                margin-bottom: 0;
            }
            
            & .slogan {
                display: block;
                width: 100%;
                max-width: 200px;
                height: auto;
                
                margin-top: 40px;

                @media @mediaFooter {
                    margin-left: auto;
                    margin-right: auto;
                }
                
                & > svg {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }

            & .logo {
                display: block;
                width: 100%;
                max-width: 200px;
                height: auto;
                
                margin-bottom: 20px;

                @media @mediaFooter {
                    margin-left: auto;
                    margin-right: auto;
                }
                
                & > svg {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }

            & .outro {
                .display(flex);
                .align-items(flex-start);
                width: 100%;

                margin-bottom: 0;
                
                
                
                & > .text {
                    display: block;
                    max-width: 792px;
                    
                    font-size: 1.125rem;
                    line-height: 1.45;
                    color: @white;
                    
                    @media @mediaFooter {
                        margin-bottom: @gutter;
                    }
                }
                
                & > .actions {
                    max-width: 200px;
                    width: 100%;
                    
                    margin-left: @gutter;
                    margin-right: @gutter;
                    
                    
                    @media @mediaFooter {
                        margin-right: auto;
                        margin-left: auto;
                    }
                    
                    & > p {
                        width: 100%;
                        text-align: center;
                        
                        @media @mediaFooter {
                            margin: auto;
                            margin-top: 12px;
                        }
                    }
                }

                & .btn-primary {
                    width: 100%;
                    
                    font-size: 16px;
                    
                    @media @mediaFooter {
                        margin: auto;
                    }
                }

                @media @mediaFooter {
                    .flex-direction(column);
                    
                    margin: auto;
                }
            }

            

            & .copyright-policy {
                margin-bottom: @space-sm;
                
                text-align: center;

                & .divider {
                    margin: 0 10px;

                    color: fade(@white, 20%);

                    @media @footerCopyrightLinksBreakPoint {
                        display: none;
                    }
                }

                & a {
                    display: inline-block;

                    color: @white;
                    white-space: nowrap;

                    @media @footerCopyrightLinksBreakPoint {
                        display: block;
                    }
                }
            }
            
            &.footer-social-icons {
                .display(flex);
                .justify-content(center);
                
                & a {
                    .display(flex);
                    width: 40px;
                    height: 40px;
                    
                    margin-right: @gutter;
                    
                    &:last-of-type {
                        margin-right: 0;
                    }
                    
                    & > svg {
                        width: 100%;
                    }
                    
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
        
        
        & .compliance-logos {
            margin-bottom: @footerSectionSpacing - @gutter;
        }


        & .links-grid {
            .display(flex);
            .flex-flow(row, wrap);
            width: 100%;

            @media @mediaFooter {
                display: none;
            }

            & > div {
                width: 100/5%;
                padding-right: @gutter;
                

                @media @mediaLinks {
                    width: 100/3%;
                    
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        margin-bottom: @footerSectionSpacing/3;
                    }
                }
                
                &:last-child {
                    padding-right: 0;
                }

                & h4 {
                    margin-bottom: 10px;

                    color: @blue-bright;
                    font-size: 17px;
                    font-weight: 700;
                    line-height: 23px;
                }

                &:after {
                    content: "";
                    clear: both;
                }

                & .btn-primary,
                & .btn-secondary {
                    font-size: 16px;
                }
            }

            & .list > li {
                margin-bottom: 10px;
                
                line-height: 1.2;
                list-style: none;

                // links in the footer
                & > a {
                    color: @white;
                    font-size: 16px;
                }
            }
        }


        
        
        
        
        
        &.lite {
            padding-top: @space-md;
            padding-bottom: @space-md;

            background-image: none;

            
            & .copyright-policy {
                
                margin: 0 !important;

                @media @mediaFooter {
                    text-align: left;
                }
            }
            
        }
    }
}
