// main: ../master.less





@ws--search--input--clipStart: ~ "circle(6px at  calc(100% - 3.1rem) calc(100% - 4.1rem))";
@ws--search--input--clipStart--onMobile: ~ "circle(6px at  calc(100% - 3.1rem) calc(100% - 4.1rem))";
@ws--search--input--clipEnd: ~ "circle(75% at 50% 50%)";



@ws--lvl2--clipStart: ~ "circle( 2% at 48px 48px)";
@ws--lvl2--clipEnd: ~ "circle( 150% at 48px 48px)";





@spacing: 10rem;
@maxContentSize: 1200px;
@transition: 300ms ease-in;
@transitionTime: 300ms;
@transitionInstTime: 100ms;


@imgIconSearchBlack: "data:image/svg+xml,%3Csvg id='fd9811bf-acab-4c02-94dc-3f4cde30a1b7' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E .ctfvygubhinjihuygtyfrytguy %7B fill: %2341484e; %7D %3C/style%3E%3C/defs%3E%3Ctitle%3ESearch Icon%3C/title%3E%3Cpath class='ctfvygubhinjihuygtyfrytguy' d='M16.45953,15.069h-.73236l-.25952-.2503a6.03372,6.03372,0,1,0-.64886.64892l.25024.25952v.7323l2.622,2.61676A9.12963,9.12963,0,0,0,19.07629,17.691Zm-5.56189,0A4.17139,4.17139,0,1,1,15.069,10.8976,4.1658,4.1658,0,0,1,10.89764,15.069Z' /%3E%3C/svg%3E";

@imgIconSearchWhite: "data:image/svg+xml,%3Csvg id='bf5293ec-0bea-4b6a-a0b6-6894cff5d9d7' data-name='a212c3c1-b994-403d-8210-ec79ca4f9b18' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E .f3bb0513-2dc1-4b1e-993e-89ed61cc7f63 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Ctitle%3ESearch Icon%3C/title%3E%3Cpath class='f3bb0513-2dc1-4b1e-993e-89ed61cc7f63' d='M16.5,15.1h-.7l-.3-.3a6.18706,6.18706,0,0,0,0-7.9,6.02536,6.02536,0,1,0-.6,8.5l.3.3v.7L17.8,19a9.266,9.266,0,0,0,1.4-1.4Zm-5.6,0a4.2,4.2,0,1,1,4.2-4.2A4.22535,4.22535,0,0,1,10.9,15.1Z'/%3E%3C/svg%3E%0A";










//@menuHeightDesktop: 96px;
//@menuHeightMobile: 65px;

@megaMenuBPMobile: 1350px; // changes whole nav to mobile hamburger nav //1090px before
//@megaMenuBPInter1: 1515px; // shrink logo and menu links spacing // 1150? before // 1300px before
//@megaMenuBPInter2: 15px; // shrink mega menu links spacing // 1080 before // 1515px before
//@megaMenuBPInter3: 1630px; // hide contact sales button


//@menuSizeDesktop: ~"screen and (min-width: "@megaMenuBPMobile ~")";
//@menuSizeInter1: ~"screen and (max-width: "@megaMenuBPInter1 ~")";
//@menuSizeInter2: ~"screen and (max-width: "@megaMenuBPInter2 ~")";
@menuSizeMobile: ~"screen and (max-width: "@megaMenuBPMobile ~")";

//@menuSizeInter3: ~"screen and (max-width: "@megaMenuBPInter3 ~")";









nav {





    @megaMenuBPMobile: 1360px;
    @menuSizeMobile: ~ "screen and (max-width: "@megaMenuBPMobile ~ ")";


    @height: 8rem;
    @barMobileHeight: 6rem;
    @logoPadding: 3rem;
    @logoWidth: 18rem;
    @mainLinksPadding: 1.5rem;

    position: static;

    .display(flex);
    .flex-direction(column);

    background-color: @white;

    & .lvl1 {
        .display(flex);
        height: @height;


        @media @menuSizeMobile {
            position: fixed;
            overflow-x: auto;

            display: none;
            .flex-direction(column);
            width: 100%;
            height: 100%;

            background-color: @white;
            z-index: 900;
        }

        &.opened {
            .display(flex);

            @media @menuSizeMobile {
                .display(flex);
            }
        }

        & > div {
            &:nth-child(1) {
                .display(flex);
                flex-grow: 1;


                @media @menuSizeMobile {
                    flex-grow: 0;
                    .flex-direction(column);
                    .align-items(center);
                }


                & > .logo {
                    .display(flex);
                    .align-items(center);
                    max-width: @logoWidth;
                    width: @logoWidth;
                    max-height: @height;
                    height: @height;

                    padding: 0 @logoPadding;

                    background-color: @white;

                    transition: background-color @transition;

                    & > svg {
                        width: 100%;
                        max-width: 100%;
                    }

                    &:hover {

                        background-color: @blue-pale;

                    }


                    @media @menuSizeMobile {

                        max-height: 6rem;

                        & > svg {
                            width: 150px;
                            max-width: 150px;
                        }
                    }
                }

                & > .main-links {
                    .display(flex);
                    .align-items(stretch);

                    @media @menuSizeMobile {
                        .flex-direction(column);
                        .align-items(center);

                        width: 100%;
                    }

                    & > a {
                        .display(flex);
                        .align-items(center);

                        padding: 0 @mainLinksPadding;

                        font-size: 1.3rem;
                        font-weight: 700;
                        color: @gray-dark;

                        background-color: @white;

                        transition: background-color @transition;

                        &:hover {
                            background-color: @blue-pale;
                        }

                        @media @menuSizeMobile {
                            .justify-content(center);
                            width: 100%;

                            padding: 1rem;
                        }
                    }
                }
            }

            &:nth-child(2) {

                @searchButtonWidth: 6rem;
                @searchHeight: 45px;
                @menuLinkHeight: 71px;

                .display(flex);
                .align-items(center);

                @media @menuSizeMobile {
                    .flex-direction(column);

                    padding-top: 2rem;
                }


                & > .btn-primary {
                    width: auto;

                    padding: 1.5rem;

                    color: @white;
                    font-size: 1.4rem;
                    white-space: nowrap;

                    background-color: @lr-orange;
                }

                & > .btn-login {
                    padding: 1.5rem;

                    margin-left: 1.5rem;

                    color: @blue-bright;
                    font-size: 1.4rem;
                    line-height: 1.2;
                    font-weight: 700;
                    text-transform: uppercase;

                    .borderAction();

                    transition: background-color @transition;

                    &:hover {
                        background-color: @blue-pale;
                    }

                    @media @menuSizeMobile {
                        width: 100%;

                        margin-left: 0;

                        text-align: center;
                    }
                }

                & > .btn-search {

                    display: block;
                    position: relative;
                    width: @searchButtonWidth;
                    height: 100%;

                    margin-right: 1.5rem;

                    background-image: url(@imgIconSearchBlack);
                    background-repeat: no-repeat;
                    background-position: calc(100% - 1.8rem) center;
                    background-size: 38px;

                    z-index: 22;

                    transition: background-color @transition;

                    &:hover {
                        opacity: 1;

                        background-color: @blue-pale;
                    }

                    @media @menuSizeMobile {
                        overflow: hidden;

                        .display(flex);
                        .align-items(center);

                        width: 20rem;
                        height: @height;

                        margin-right: 0;
                        margin-top: 2rem;
                        margin-bottom: 4rem;

                        .borderAction();

                        background-color: @blue-pale;
                    }


                    & > .search-label-mobile {
                        display: none;

                        padding: 2rem;

                        margin: 0;


                        @media @menuSizeMobile {
                            .display(flex);
                        }
                    }



                    & > .mega-menu-search-dark-icon {
                        position: absolute;
                        width: @searchButtonWidth;
                        height: 100%;
                        right: 0;
                        top: 0;

                        background-image: url(@imgIconSearchWhite);
                        background-repeat: no-repeat;
                        background-position: calc(100% - 1.8rem) center;
                        background-size: 38px;

                        z-index: 99;

                        opacity: 0;
                    }


                    & > .search-form {
                        position: absolute;
                        top: 0;
                        right: 0;

                        .display(flex);
                        .align-items(center);

                        width: 350px;
                        height: 100%;

                        background-color: @white;

                        clip-path: @ws--search--input--clipStart;
                        -webkit-clip-path: @ws--search--input--clipStart;

                        border: none;

                        @media @menuSizeMobile {
                            width: 20rem !important;
                        }


                        @media @inIE {
                            width: 100%;
                            opacity: 0;
                        }

                        & > .search-form-input {
                            width: 100%;
                            height: 100%;

                            padding: 2rem;
                            padding-right: 6rem;

                            color: @white;

                            border: none;

                            background-color: @transparent;

                            &::placeholder {
                                color: fade(@white, 40%);
                            }
                        }

                        & > input[type=submit] {
                            display: none;
                        }
                    }


                }






















            }
        }
    }



    & > .lvl2 {
        position: relative;
        display: none;
        .flex-direction(row);
        .justify-content(center);
        width: 100%;


        &.active {
            .display(flex);
        }


        @media @menuSizeMobile {
            margin-top: @barMobileHeight;
        }

        & > .items {
            .display(flex);
            .flex-direction(row);
            .flex-wrap(nowrap);

            pointer-events: all;


            & > div {
                .display(flex);
                .flex-direction(row);
                .justify-content(center);

                & > a {
                    .display(flex);
                    .flex-direction(column);
                    .align-items(center);
                    width: @height + @mainLinksPadding*2;
                    min-width: @height + @mainLinksPadding*2;
                    height: @height;

                    padding: 0 @mainLinksPadding;

                    background-color: @white;

                    transition: background-color @transition;

                    pointer-events: all;

                    &:hover {
                        background-color: @blue-pale;
                    }

                    &.active {
                        background-color: @blue-pale;

                        & > p {
                            color: @blue-bright;
                            font-weight: 700;
                        }
                    }

                    & > svg {
                        width: 100%;

                        margin-top: 1rem;
                    }

                    & > p {
                        margin-bottom: 1rem;
                    }

                }
            }
        }


        & > .shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;

            .shadowInner();

            background-color: @transparent;

            pointer-events: none;
            z-index: 20;
        }
    }



    & > .bar-mobile {
        @height: 6rem;

        display: none;
        .justify-content(center);

        background-color: @white;

        z-index: 910;

        @media @menuSizeMobile {
            position: fixed;
            .display(flex);

            width: 100%;
        }

        & .logo {
            margin-left: 0;
            margin-right: auto;

            background-color: @white;

            @media @menuSizeMobile {
                .display(flex);
                .justify-content(center);
                width: 100%;
                max-width: 100%;
            }
        }

        & > .hamburger {
            position: absolute;
            left: 0;

            .display(flex);
            .align-items(center);
            .justify-content(center);
            width: @barMobileHeight;
            height: @barMobileHeight;

            z-index: 902;


            & > span {
                position: absolute;
                display: block;
                width: 50%;
                height: .15rem;
                margin-right: auto;
                margin-left: auto;
                background-color: @blue-bright;
                border-radius: 20px;
                transition: transform 300ms, background-color 300ms;

                @media @inIE {
                    top: 32px;
                    left: 24px;
                }

                &:nth-child(1) {
                    transform: rotate(0deg) translateY(-0.7rem);
                }

                &:nth-child(2) {
                    transform: rotate(0deg) translateY(0.7rem);
                }
            }


            &.opened {

                & > span {
                    &:nth-child(1) {
                        transform: rotate(45deg) translateY(0);
                    }

                    &:nth-child(2) {
                        transform: rotate(-45deg) translateY(0);
                    }
                }

            }
        }
    }

}


















.ws-searchInputOpen {
    .animation-name(ws-searchInputOpen);


    @media @inIE {
        .animation-name(ws-searchInputOpen--IE);
    }

    .animation-duration(@transitionTime);
    .animation-fill-mode(forwards);
    .animation-direction(normal);
    .animation-timing-function(ease-in-out);



}

@keyframes ws-searchInputOpen {
    .animWS-SearchInputOpen();
}

@-webkit-keyframes ws-searchInputOpen {
    .animWS-SearchInputOpen();
}

.animWS-SearchInputOpen() {
    0% {
        clip-path: @ws--search--input--clipStart;
        -webkit-clip-path: @ws--search--input--clipStart;

        background-color: @white;
    }

    25% {
        background-color: @blue-bright;
    }

    100% {
        clip-path: @ws--search--input--clipEnd;
        -webkit-clip-path: @ws--search--input--clipEnd;

        background-color: @blue-bright;
    }
}


@keyframes ws-searchInputOpen--mobile {
    .animWS-SearchInputOpen--mobile();
}

@-webkit-keyframes ws-searchInputOpen--mobile {
    .animWS-SearchInputOpen--mobile();
}

.animWS-SearchInputOpen--mobile() {
    0% {
        clip-path: @ws--search--input--clipStart--onMobile;
        -webkit-clip-path: @ws--search--input--clipStart--onMobile;

        background-color: @white;
    }

    25% {
        background-color: @blue-bright;
    }

    100% {
        clip-path: @ws--search--input--clipEnd;
        -webkit-clip-path: @ws--search--input--clipEnd;

        background-color: @blue-bright;
    }
}



@keyframes ws-searchInputOpen--IE {
    .animWS-SearchInputOpen--IE();
}

@-webkit-keyframes ws-searchInputOpen--IE {
    .animWS-SearchInputOpen--IE();
}

.animWS-SearchInputOpen--IE() {
    0% {
        width: 100%;

        clip-path: none;

        background-color: @white;

        opacity: 0;
    }

    25% {

        clip-path: none;

        background-color: @blue-bright;

        opacity: 1;
    }

    100% {
        width: 320px;

        clip-path: none;

        background-color: @blue-bright;

        opacity: 1;
    }
}






.ws-searchInputClose {
    .animation-name(ws-searchInputClose);

    @media @inIE {
        right: auto;
    }

    .animation-duration(@transitionTime);
    .animation-fill-mode(forwards);
    .animation-direction(normal);
    .animation-timing-function(ease-in-out);


}

@keyframes ws-searchInputClose {
    .animWS-SearchInputClose();
}

@-webkit-keyframes ws-searchInputClose {
    .animWS-SearchInputClose();
}

.animWS-SearchInputClose() {
    0% {
        clip-path: @ws--search--input--clipEnd;
        -webkit-clip-path: @ws--search--input--clipEnd;

        background-color: @blue-bright;
    }

    75% {
        background-color: @white;
    }

    100% {
        clip-path: @ws--search--input--clipStart;
        -webkit-clip-path: @ws--search--input--clipStart;

        background-color: @white;
    }
}



@keyframes ws-searchInputClose--mobile {
    .animWS-SearchInputClose--mobile();
}

@-webkit-keyframes ws-searchInputClose--mobile {
    .animWS-SearchInputClose--mobile();
}

.animWS-SearchInputClose--mobile() {
    0% {
        clip-path: @ws--search--input--clipEnd;
        -webkit-clip-path: @ws--search--input--clipEnd;

        background-color: @blue-bright;
    }

    75% {
        background-color: @white;
    }

    100% {
        clip-path: @ws--search--input--clipStart--onMobile;
        -webkit-clip-path: @ws--search--input--clipStart--onMobile;

        background-color: @white;
    }
}



@keyframes ws-searchInputClose--IE {
    .animWS-SearchInputClose--IE();
}

@-webkit-keyframes ws-searchInputClose--IE {
    .animWS-SearchInputClose--IE();
}

.animWS-SearchInputClose--IE() {
    0% {
        width: 100%;

        clip-path: none;

        background-color: @white;

        opacity: 1;
    }

    75% {
        clip-path: none;

        background-color: @blue-bright;

        opacity: 1;
    }

    100% {
        width: 320px;

        clip-path: none;

        background-color: @white;

        opacity: 0;
    }
}













.ws-searchIconChange {
    .animation-name(ws-searchIconChange);
    .animation-duration(@transitionTime);
    .animation-fill-mode(forwards);
    .animation-direction(normal);
    .animation-timing-function(ease-in-out);
}

@keyframes ws-searchIconChange {
    .animWS-SearchIconChange();
}

@-webkit-keyframes ws-searchIconChange {
    .animWS-SearchIconChange();
}

.animWS-SearchIconChange() {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




.ws-searchIconChangeBack {
    .animation-name(ws-searchIconChangeBack);
    .animation-duration(@transitionTime);
    .animation-fill-mode(forwards);
    .animation-direction(normal);
    .animation-timing-function(ease-in-out);
}

@keyframes ws-searchIconChangeBack {
    .animWS-SearchIconChangeBack();
}

@-webkit-keyframes ws-searchIconChangeBack {
    .animWS-SearchIconChangeBack();
}

.animWS-SearchIconChangeBack() {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}








// MOBILE THEN DESK HIDE? ANIM FINAL???


.ws-lvl2Open {
    .animation-name(ws-lvl2OpenReset);

    @media @menuSizeMobile {

        .animation-name(ws-lvl2Open);
    }

    .animation-duration(@transitionTime);
    .animation-fill-mode(forwards);
    .animation-direction(normal);
    .animation-timing-function(ease-in-out);


}

@keyframes ws-lvl2Open {
    .animWS-Lvl2Open();
}

@-webkit-keyframes ws-lvl2Open {
    .animWS-Lvl2Open();
}

.animWS-Lvl2Open() {
    0% {
        clip-path: @ws--lvl2--clipStart;
        -webkit-clip-path: @ws--lvl2--clipStart;
    }

    100% {
        clip-path: @ws--lvl2--clipEnd;
        -webkit-clip-path: @ws--lvl2--clipEnd;
    }
}

@keyframes ws-lvl2OpenReset {
    .animWS-Lvl2OpenReset();
}

@-webkit-keyframes ws-lvl2OpenReset {
    .animWS-Lvl2OpenReset();
}

.animWS-Lvl2OpenReset() {
    0% {
        clip-path: @ws--lvl2--clipEnd;
        -webkit-clip-path: @ws--lvl2--clipEnd;
    }

    100% {
        clip-path: @ws--lvl2--clipEnd;
        -webkit-clip-path: @ws--lvl2--clipEnd;
    }
}




.ws-lvl2Close {

    .animation-name(ws-lvl2OpenReset);

    @media @menuSizeMobile {

        .animation-name(ws-lvl2Close);
    }

    .animation-duration(@transitionTime);
    .animation-fill-mode(forwards);
    .animation-direction(normal);
    .animation-timing-function(ease-in-out);


}

@keyframes ws-lvl2Close {
    .animWS-Lvl2Close();
}

@-webkit-keyframes ws-lvl2Close {
    .animWS-Lvl2Close();
}

.animWS-Lvl2Close() {
    0% {
        clip-path: @ws--lvl2--clipEnd;
        -webkit-clip-path: @ws--lvl2--clipEnd;
    }

    100% {
        clip-path: @ws--lvl2--clipStart;
        -webkit-clip-path: @ws--lvl2--clipStart;
    }
}
