// main: ../master.less










nav.lite > .bar {
    .display(flex);
    .justify-content(center);

    background-color: @white;

    & > .logo {
        .justify-content(center);

        margin-right: 0;
        margin-left: 0;

        background-color: @white;

        & > svg {
            width: 150px;
            max-width: 150px;
        }
    }
}
