// main: ../master.less

// This file contains variables for the fonts used throughout the site.

@font-stack: 'Barlow', Helvetica, Arial, sans-serif;

@font-check: 'Inter', sans-serif;

@font-code: 'Inconsolata', monospace;

@text-on-dark: @white;
@text-on-light: @gray-dark;
@text-on-bright: @white;

@link-on-dark: @blue-bright;
@link-on-light: @blue-bright;
@link-on-bright: @white;

//@btn-bg-on-dark: @lr-orange;
//@btn-bg-on-light: @lr-orange;
//@btn-bg-on-bright: @white;
//@btn-text-on-dark: @white;
//@btn-text-on-light: @white;
//@btn-text-on-bright: @blue-bright;
//
//
//@form-btn-bg-on-dark: @lr-orange;
//@form-btn-bg-on-light: @lr-orange;
//@form-btn-bg-on-bright: @blue-dark;
//@form-btn-text-on-dark: @white;
//@form-btn-text-on-light: @white;
//@form-btn-text-on-bright: @white;
//
//@button-transition: 0.3s ease-in 0s;

//.btnBG() {
//    background-size: 250% auto;
//    background-image: linear-gradient(-85deg, @btn-bg-on-light 0%, @btn-bg-on-light 40%, fade(@white, 20%) 50%, @btn-bg-on-light 60%, @btn-bg-on-light 100%);
//    
//    &:hover {
//        background-position: right center;
//    }
//}
//
//.btnBG-onBright() {
//    background-size: 250% auto;
//    background-image: linear-gradient(-85deg, @btn-bg-on-bright 0%, @btn-bg-on-bright 40%, fade(@blue-bright, 20%) 50%, @btn-bg-on-bright 60%, @btn-bg-on-bright 100%);
//    
//    &:hover {
//        background-position: right center;
//    }
//}







html * {
    font-family: @font-stack;
}







// headers

@headingBP1: ~"screen and (max-width: 38em)";
@headingBP2: ~"screen and (max-width: 30em)";

h1,
h2,
h3,
h4,
h5 {
    color: @blue-darkest;
    line-height: 1.2;
}



h1 {
    font-size: 3rem;
    font-weight: 700;

    @media @headingBP1 {
        font-size: 2.5rem;
    }

    @media @headingBP2 {
        font-size: 2rem;
    }
}

h2 {
    font-size: 2.6rem;
    font-weight: 700;

    @media @headingBP1 {
        font-size: 2.25rem;
    }

    @media @headingBP2 {
        font-size: 1.75rem;
    }
}

h3 {
    font-size: 2.25rem;
    font-weight: 400;

    @media @headingBP1 {
        font-size: 1.6rem;
    }

    @media @headingBP2 {
        font-size: 1.4rem;
    }
}

h4 {
    font-size: 1.4rem;
    font-weight: 700;

    @media @headingBP1 {
        font-size: 1.25rem;
    }

    @media @headingBP2 {
        font-size: 1.15rem;
    }
}

h5 {
    font-size: 1.15rem;
    font-weight: 700;
}









// paragraphs and lists

p,
li {
    font-size: 1rem;
    line-height: 1.2;
}

p {
    margin-bottom: 22px;
}

li {
    margin-bottom: 16px;
}



h1,
h2,
h3,
h4,
h5,
p,
li {

    .bg-light-01 &,
    .bg-light-02 &,
    .bg-light-03 &,
    .bg-light-04 &,
    .bg-bright-02 & {

        color: @text-on-light;

        & em {
            color: @link-on-light;
            font-weight: 700;
            font-style: normal;
        }

    }




    .bg-dark-01 &,
    .bg-dark-02 &,
    .bg-dark-03 &,
    .bg-dark-04 & {

        color: @text-on-dark;

        & em {
            color: @link-on-light;
            font-weight: 700;
            font-style: normal;
        }

    }




    .bg-bright-01 & {
        color: @text-on-bright;

        & em {
            color: @link-on-dark;
            font-weight: 700;
            font-style: normal;
        }
    }

}












// links

a {
    cursor: pointer;
    color: @blue-bright;
    text-decoration: underline;


    &:link,
    &:visited {
        color: @blue-bright;
    }


    &:active,
    &:hover {
        text-decoration: underline;
    }

    &:focus {
        outline: 0;
    }




    .bg-bright-01 & {

        &:link,
        &:visited {
            color: @link-on-bright;
        }
    }




    .bg-light-01 &,
    .bg-light-02 &,
    .bg-light-03 &,
    .bg-bright-02 & {

        &:link,
        &:visited {
            color: @link-on-light;
        }
    }



    .bg-light-04 & {

        &:link,
        &:visited {
            color: @link-on-light;
        }
    }





    .bg-dark-01 &,
    .bg-dark-02 &,
    .bg-dark-03 &,
    .bg-dark-04 & {

        &:link,
        &:visited {
            color: @link-on-dark;
        }
    }


}
























// LISTS


ul {
    padding-left: 0;

    margin-top: 3rem;

    & > li {
        .display(flex);

        font-size: 1.5rem;

        list-style-type: none;

        &:not(:nth-child(1)) {
            margin-bottom: 0.8rem;
        }

        &:before {
            content: "• ";

            margin-right: 1.5rem;
            margin-left: 1.5rem;

            color: @blue-bright;
            font-size: 2.2rem;
            font-weight: 700;

            .transform(translateY(-0.2rem));
        }
    }
}



ol {
    counter-reset: my-awesome-counter;

    padding-left: 0;

    margin-top: 3rem;

    & > li {
        counter-increment: my-awesome-counter;

        .display(flex);

        font-size: 1.5rem;

        list-style-type: none;

        &:not(:nth-child(1)) {
            margin-bottom: 0.8rem;
        }

        &:before {
            content: counter(my-awesome-counter)".";

            width: 2rem;

            margin-right: 1rem;
            margin-left: 1rem;

            color: @blue-bright;
            font-size: 1.6rem;
            font-weight: 700;
            text-align: right;
        }
    }
}














.subtitle {
    max-width: 40rem;

    padding-bottom: 1rem;

    font-size: 1.7rem;
}
