// main: ../master.less

// This file contains variables for the colour palette used throughout the site, used for backgrounds, fonts, links, buttons, etc.

// neutral tones
@white: #fff;
@black: #020b13; /* void black */
@transparent: rgba(0,0,0,0);


@gray-light: #e8e9ea;
@gray-medium-light: #d1d3d4;
@gray-medium: #b3b6b8;
@gray-medium-dark: #757a7e;
@gray-dark: #41484e;



// brand tones
@blue-pale: #e3f1f8; /* neutron blue */
@blue-bright: #008ecf; /* terran blue */
@blue-dark: #073857; /* ether blue */
@blue-darkest: #09263c; /* cosmic blue */



// ui tones
@ui-red: #e61728;
@ui-red-dark: #900;
@green: #38B55A;



@orange: #f15e22;
@lr-orange: #f15e22;

@cta-color: @orange;



@code-gray: #41484E;
@code-dark: #111111;
@code-green: #008800;
