// main: ../master.less

// This file is for storing global variables for items such as widths, padding, margins, break-points, etc.

// spacing modifier variables
@space-none: 0 !important;
@space-x-sm: 16px !important;
@space-sm: 24px !important;
@space-md: 48px !important;
@space-lg: 96px !important;
@space-x-lg: 128px !important;
@space-auto: auto !important;



@borderRadiusMedia: 20px;
@borderRadiusAction: 15px;
@borderRadiusActionSmall: 4px;
@borderRadiusCard: 10px;




@gutter: 24px;


@inIE: ~"screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none)";