// main: ../master.less


.bg-circle {
    @BP1: ~ "screen and (max-width: 480px)";

    position: absolute;
    left: 0;
    max-width: 38rem;

    box-shadow: none;
    border-radius: 0;

    z-index: -1;

    &.circle1 {
        .transform(scale(.8) translate3d(-203px, 86px, 0px));

        animation-name: bgbg-circle1;
        animation-iteration-count: infinite;
        animation-duration: 20s;
        animation-timing-function: ease-in-out;

        .bgbg-circle1() {
            0% {
                .transform(scale(.8) translate3d(-203px, 86px, 0px));
            }

            15% {
                .transform(scale(.8) translate3d(-173px, 64px, 0px));
            }

            25% {
                .transform(scale(.8) translate3d(-143px, 50px, 0px));
            }

            50% {
                .transform(scale(.8) translate3d(-220px, 92px, 0px));
            }

            65% {
                .transform(scale(.8) translate3d(-234px, 50px, 0px));
            }

            75% {
                .transform(scale(.8) translate3d(-199px, 53px, 0px));
            }

            90% {
                .transform(scale(.8) translate3d(-177px, 101px, 0px));
            }

            100% {
                .transform(scale(.8) translate3d(-203px, 86px, 0px));
            }
        }


        @keyframes bgbg-circle1 {
            .bgbg-circle1();
        }

        @-webkit-keyframes bgbg-circle1 {
            .bgbg-circle1();
        }

    }

    &.circle2 {
        .transform(scale(1) translate3d(-203px, 20px, 0px));


        animation-name: bgbg-circle2;
        animation-iteration-count: infinite;
        animation-duration: 30s;
        animation-timing-function: ease-in-out;


        .bgbg-circle2() {
            0% {
                .transform(scale(1) translate3d(-203px, 20px, 0px));
            }

            13% {
                .transform(scale(1) translate3d(-173px, 64px, 0px));
            }

            26% {
                .transform(scale(1) translate3d(-143px, 50px, 0px));
            }

            53% {
                .transform(scale(1) translate3d(-220px, 10px, 0px));
            }

            62% {
                .transform(scale(1) translate3d(-174px, -20px, 0px));
            }

            72% {
                .transform(scale(1) translate3d(-199px, 23px, 0px));
            }

            91% {
                .transform(scale(1) translate3d(-222px, -32px, 0px));
            }

            100% {
                .transform(scale(1) translate3d(-203px, 20px, 0px));
            }
        }


        @keyframes bgbg-circle2 {
            .bgbg-circle2();
        }

        @-webkit-keyframes bgbg-circle2 {
            .bgbg-circle2();
        }



    }

    &.circle3 {
        .transform(scale(1.1) translate3d(203px, -20px, 0px));

        animation-name: bgbg-circle3;
        animation-iteration-count: infinite;
        animation-duration: 30s;
        animation-timing-function: ease-in-out;


        .bgbg-circle3() {
            0% {
                .transform(scale(1.1) translate3d(203px, -20px, 0px));
            }

            17% {
                .transform(scale(1.1) translate3d(163px, -45px, 0px));
            }

            26% {
                .transform(scale(1.1) translate3d(195px, 0px, 0px));
            }

            48% {
                .transform(scale(1.1) translate3d(170px, -13px, 0px));
            }

            63% {
                .transform(scale(1.1) translate3d(179px, -30px, 0px));
            }

            79% {
                .transform(scale(1.1) translate3d(222px, -3px, 0px));
            }

            89% {
                .transform(scale(1.1) translate3d(232px, -42px, 0px));
            }

            100% {
                .transform(scale(1.1) translate3d(203px, -20px, 0px));
            }
        }


        @keyframes bgbg-circle3 {
            .bgbg-circle3();
        }

        @-webkit-keyframes bgbg-circle3 {
            .bgbg-circle3();
        }
    }

    &.circle4 {
        //            .transform(scale(.7) translate3d(224px, -316px, 0));
        .transform(scale(.7) translate3d(254px, -200px, 0));

        animation-name: bgbg-circle4;
        animation-iteration-count: infinite;
        animation-duration: 27s;
        animation-timing-function: ease-in-out;


        .bgbg-circle4() {
            0% {
                .transform(scale(.7) translate3d(254px, -200px, 0));
            }

            12% {
                .transform(scale(.7) translate3d(243px, -210px, 0px));
            }

            26% {
                .transform(scale(.7) translate3d(274px, -204px, 0px));
            }

            47% {
                .transform(scale(.7) translate3d(234px, -198px, 0px));
            }

            63% {
                .transform(scale(.7) translate3d(244px, -222px, 0px));
            }

            70% {
                .transform(scale(.7) translate3d(264px, -228px, 0px));
            }

            93% {
                .transform(scale(.7) translate3d(273px, -208px, 0px));
            }

            100% {
                .transform(scale(.7) translate3d(254px, -200px, 0));
            }
        }


        @keyframes bgbg-circle4 {
            .bgbg-circle4();
        }

        @-webkit-keyframes bgbg-circle4 {
            .bgbg-circle4();
        }

        //            @media @BP1 {
        //                .transform(scale(.7) translate3d(224px, -200px, 0));
        //            }
    }
}
