// main: ../master.less



.btn {

    &-primary,
    &-secondary,
    &-ghost {

        &:link,
        &:visited,
        &:active {

            display: block;

            padding: @gutter/2 @gutter;

            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1.25;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;

            border-radius: @borderRadiusActionSmall;
        }

    }







    // PRIMARY

    &-primary {
        background-size: 250% auto;
        transition: 0.3s ease-in 0s;
    }


    .bg-light-01 &-primary,
    .bg-light-02 &-primary,
    .bg-light-03 &-primary,
    .bg-light-04 &-primary,
    .bg-dark-01 &-primary,
    .bg-dark-02 &-primary,
    .bg-dark-03 &-primary,
    .bg-dark-04 &-primary {
        color: @white;

        background-image: linear-gradient(-85deg, @cta-color 0%, @cta-color 40%, fade(@white, 20%) 50%, @cta-color 60%, @cta-color 100%);

        &:hover {
            background-position: right center;
        }
    }


    .bg-bright-01 &-primary,
    .bg-bright-02 &-primary {
        color: @cta-color;

        background-image: linear-gradient(-85deg, @white 0%, @white 40%, fade(@cta-color, 20%) 50%, @white 60%, @white 100%);

        &:hover {
            background-position: right center;
        }
    }









    // SECONDARY

    &-secondary {
        background-color: @transparent;
    }

    .bg-light-01 &-secondary,
    .bg-light-02 &-secondary,
    .bg-light-03 &-secondary,
    .bg-light-04 &-secondary {
        color: @cta-color;

        border: 0.2rem solid @cta-color;
    }

    .bg-dark-01 &-secondary,
    .bg-dark-02 &-secondary,
    .bg-dark-03 &-secondary,
    .bg-dark-04 &-secondary {
        color: @white;

        border: 0.2rem solid @cta-color;
    }

    .bg-bright-01 &-secondary,
    .bg-bright-02 &-secondary {
        color: @white;

        border: 0.2rem solid @white;
    }








    // GHOST

    .bg-light-01 &-ghost,
    .bg-light-02 &-ghost,
    .bg-light-03 &-ghost,
    .bg-light-04 &-ghost {
        color: @cta-color;
    }

    .bg-dark-01 &-ghost,
    .bg-dark-02 &-ghost,
    .bg-dark-03 &-ghost,
    .bg-dark-04 &-ghost,
    .bg-bright-01 &-ghost,
    .bg-bright-02 &-ghost {
        color: @white;
    }


}
