// main: ../master.less








.cards--images-graphic {
    @innerPadding: 0px;
    @imageHeight: 300px;

    @BPmiddle: ~ "screen and (max-width: 900px) and (min-width: 550px)";

    overflow: visible;



    &.interactive {
        & > div {
            padding-top: ~"calc( "@imageHeight~")";

            @media @BPmiddle {
                padding-top: 0;
            }

            & > .actions {
                &:before {
                    background-color: fade(@blue-bright, 50%);
                }
            }
        }
    }

    &.small-headings {
        & > div {
            & > .heading {
                & > h4 {
                    font-size: 1.3rem;
                    font-weight: 700;
                }
            }
        }
    }

    & > div {
        .shadowAction();
        .borderImage();

        @media @BPmiddle {
            height: @imageHeight;
        }

        & > .image {
            width: 100%;

            margin-right: @innerPadding;
            margin-left: @innerPadding;
            margin-top: @innerPadding;

            border-radius: 0;

            @media @BPmiddle {
                width: 50%;
            }

            & > .type {
                padding-left: 8px;
            }

            & > .text-on-image {
                background: @white;
                color: @gray-dark;
                border-bottom: 1px solid @gray-light;

                @media @BPmiddle {
                    border-bottom: 0px solid @gray-light;
                    border-right: 1px solid @gray-light;
                }
            }

        }

        & > .heading {
            padding-top: 2rem;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 0.5rem;

            & > h4 {
                font-size: 1.7rem;
                font-weight: 700;
            }
        }


    }
}
