// main: master.less



//.video-gallery-with-previews
.cards--videos {
    
    @videoSpacing: @gutter*2;
    @breakPoint: 900px;
    @breakPoint2: 650px;
    
    max-width: 1248px + @videoSpacing;
    
    
    & > div {
        .display(flex);
        .flex-wrap(wrap);
        justify-content: space-evenly;
        max-width: ~"calc( 1248px + " @videoSpacing ~")";
        
        margin-right: -@videoSpacing/2;
        margin-left: -@videoSpacing/2;
            

        & > div {
            width: ~"calc( ( 100% - " @videoSpacing*4 ~" ) / 3.000 )";
            
            margin-right: 0;
            margin-left: 0;


            @media screen and (max-width: @breakPoint) {
                width: ~"calc( ( 100% - " @videoSpacing*3 ~" ) / 2.000 )";
            }


            @media screen and (max-width: @breakPoint2) {
                display: block;
                width: ~"calc( ( 100% - " @videoSpacing*2 ~" )  )";
                float: none;

                margin-right: auto;
                margin-left: auto;
            }
        }


        & > div > a {
            position: relative;
            display: block;

            margin-bottom: @videoSpacing;

            line-height: 0;
            
            & > .logo-overlay {
                position: absolute;
                
                width: 100%;
                height: 100%;
                bottom: 0;
                
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                
                border-radius: 20px;
            }
        }
        
        
    }   
}




