// main: ../master.less





.cards--pricing {
        @verticalSpacingBetween: 2rem;
        @cardsPaddingSides: 3rem;

        overflow: visible;
        position: relative;

        .display(flex);




        &.cards2 {
            @BP1: ~ "screen and (max-width: 750px)";

            @media @BP1 {
                .flex-direction(column);
            }


            & > div {

                width: ~"calc( ( 100% - "@cardsPaddingSides ~" ) /2 )";

                &:not(:first-child) {
                    @media @BP1 {
                        margin-right: 0;
                        margin-left: 0;
                        margin-top: @verticalSpacingBetween;
                    }
                }


                @media @BP1 {
                    width: 100%;

                    margin-right: 0;
                    margin-left: 0;
                }
            }
        }

        &.cards3 {
            @BP1: ~ "screen and (max-width: 1100px)";

            @media @BP1 {
                .flex-direction(column);
            }


            & > div {

                width: ~"calc( ( 100% - "@cardsPaddingSides*2 ~" ) /3 )";

                &:not(:first-child) {
                    @media @BP1 {
                        width: 100%;
                        max-width: 600px;

                        margin-right: auto;
                        margin-left: auto;
                        margin-top: @verticalSpacingBetween;
                    }
                }


                @media @BP1 {
                    width: 100%;
                    max-width: 600px;

                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }


        & ul {
            & li {
                &:before {
                    content: none;
                }
            }
        }


        & > div {
            position: relative;

            padding-bottom: 15rem;

            background-color: @white;

            .shadowAction();
            .borderImage();

            &:not(:first-child) {
                margin-left: @cardsPaddingSides;
            }



            & > * {
                padding-right: @cardsPaddingSides;
                padding-left: @cardsPaddingSides;
            }

            & > h3 {
                padding-top: @verticalSpacingBetween;
                padding-bottom: @verticalSpacingBetween;

                margin: 0;

                color: @blue-bright;
                font-size: 1.6rem;
                font-weight: 700;

                border-bottom: 1px solid @gray-light;
            }



            & > .price-numbers-block {
                margin-top: 2rem;

                & > h4 {
                    padding-top: 0.5rem;

                    margin-bottom: 0.5rem;
                }

                & .price-number {
                    font-size: 3rem;
                }
            }

            & > .description {
                padding-top: @verticalSpacingBetween;

                margin-bottom: 0;

                font-size: 1.3rem;
                font-weight: 700;
                color: @gray-dark;
            }

            & > ul {
                padding-bottom: 0;

                margin-top: @verticalSpacingBetween;
                margin-bottom: 0;

                & > li {
                    display: block;

                    margin-top: 0;
                    margin-bottom: 0;

                    font-size: 1.1rem;
                    line-height: 1.2;

                    &:not(:first-child) {
                        margin-top: 1rem;
                    }

                    &:before {
                        margin-right: 0.5rem;
                        margin-left: 0;

                        .transform(scale(0.5));
                    }
                }
            }


            & > .bottom {
                position: absolute;
                width: 100%;
                bottom: 0;

                & > .btn-primary {
                    width: 100%;
                    max-width: 100%;

                    margin-top: @verticalSpacingBetween;
                    margin-bottom: 0;
                }

                & > .btn-secondary {
                    width: 100%;
                    max-width: 100%;

                    margin-top: @verticalSpacingBetween;
                    margin-bottom: 0;
                }

                & > .description-supporting {
                    margin-top: @verticalSpacingBetween;
                    margin-bottom: @verticalSpacingBetween;

                    text-align: center;
                    font-size: 1.1rem;
                    line-height: 1.3;
                }
            }



        }
    }
