// main: ../master.less






.cards--people {


    & > div {
        .display(flex);
        .flex-wrap(wrap);
        .justify-content(center);

        margin-right: -@gutter/2;
        margin-left: -@gutter/2;
    }


    & > div > div {
        position: relative;
        .display(flex);
        .flex-direction(column);
        width: 100%;
        max-width: (1200px - (24*5))/4;

        margin-bottom: @gutter*2;
        margin-right: @gutter/2;
        margin-left: @gutter/2;


        & > img {
            display: block;
            width: 100%;
        }

        & > h4 {
            display: block;

            margin-top: @gutter/2;
            margin-bottom: 0;

            font-size: 18px;
            font-weight: 700;
        }

        & > p {
            display: block;

            margin-bottom: @gutter/2;

            font-size: 18px;
        }


        & > .social-logos {
            .display(flex);
            .flex-direction(row);
            width: 100%;

            & > a {
                display: block;
                width: 100%;
                max-width: 30px;

                &:not(:first-child) {
                    margin-left: @gutter/2;
                }

                & > img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

