// main: ../master.less





.choice-large {
    @BP1: ~ "screen and (max-width: 1000px)";
    @BP2: ~ "screen and (max-width: 850px)";

    padding: 0 !important;

    & > div {
        // grid-50
        .display(flex);
        max-width: 100%;

        padding: 0;

        margin: 0;


        @media @BP2 {
            .flex-wrap(wrap);
        }


        & > div {
            position: relative;
            width: 50%;

            margin: 0 !important;

            background-color: @white;

            @media @BP2 {
                width: 100%;
            }


            &:nth-child(2) {
                & > .cover {
                    .justify-content(flex-start);

                    @media @BP2 {
                        .justify-content(center);
                    }

                    & > div:not(.fade) {
                        //                            & p {
                        //                                //                                text-align: left;
                        //                                padding: 1.5rem;
                        //
                        //                                color: @white;
                        //                                text-align: center;
                        //                                
                        //                                background-color: @lr-orange;
                        //                                .borderAction();
                        //
                        ////                                @media @BP2 {
                        ////                                    text-align: center;
                        ////                                }
                        //                            }
                    }
                }

                & > .content {
                    .justify-content(flex-start);

                    @media @BP2 {
                        .justify-content(center);
                    }
                }
            }



            & > .cover {
                position: absolute;
                top: 0;
                left: 0;

                .display(flex);
                .justify-content(flex-end);
                width: 100%;
                height: 100%;

                padding: 4rem;

                background-color: @white;

                z-index: 2;

                transition: all @transitionTime;

                @media @BP1 {
                    padding: 2rem;
                }

                @media @BP2 {
                    .justify-content(center);
                }


                &.hidden {
                    opacity: 0;
                    pointer-events: none;
                }

                &:hover {
                    background-color: @blue-pale;

                    text-decoration: none !important;

                    & > div {
                        & p {
                            text-decoration: none !important;
                        }
                    }

                    & > .fade.on {
                        opacity: 0;
                    }
                }



                & > .fade {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    background-color: fade(@black, 20%);
                    opacity: 0;

                    pointer-events: none;

                    z-index: 3;
                    transition: all @transitionTime;

                    &.on {
                        opacity: 1;
                    }
                }





                & > div:not(.fade) {
                    max-width: @maxContentSize/4;
                    width: 100%;

                    & .image {
                        width: 100%;
                        max-width: 400px;
                        height: 300px;

                        margin-bottom: 2rem;

                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;

                        transition: @animationTiming all;
                    }

                    & p {
                        padding: 1.5rem;

                        color: @white;
                        font-size: 1.3rem;
                        font-weight: 700;
                        text-align: center;
                        text-transform: uppercase;

                        background-color: @lr-orange;
                        .borderAction();
                    }
                }



            }


            & > .content {
                .display(flex);
                .justify-content(flex-end);

                padding: 4rem;

                background-color: @white;

                z-index: 1;

                @media @BP1 {
                    padding: 2rem;
                }

                @media @BP2 {
                    .justify-content(center);
                }

                & > div {
                    max-width: @maxContentSize/2;
                    width: @maxContentSize/2;

                    & > .section-with-calendly {
                        overflow: hidden;

                        .shadowAction();
                        .borderImage();
                    }


                    & > .lr-form-style-v2 {
                        .shadowAction();
                    }
                }

            }
        }
    }
}









& #scheduleCall {

    & > .cover {
        & > div {
            & > .image {
                background-image: url('/wp-content/themes/login-radius/images/ws/contact-sales/sc-1.svg');
            }
        }

    }

}

& #sendMessage {

    & > .cover {
        & > div {
            & > .image {
                background-image: url('/wp-content/themes/login-radius/images/ws/contact-sales/sm-1.svg');
            }
        }

    }

}
