// main: ../master.less






.code-popout {

    .shadowAction();
    .borderImage();


    &.in-flow.with-preview {
        height: auto;
    }

    & > .code {
        & .code-heading {

            .display(flex);
            .align-items(center);

            &.first {
                margin-top: 0;
            }

            & .btn-primary {
                width: auto;

                padding: 0.25rem 1rem;

                margin-bottom: 0;
                margin-right: 0;

                font-size: 1rem;
            }

            & .code-tag {
                font-size: 1rem;
            }
        }
    }
}
