// main: master.less





// cta with 2 sides
// .double-cta
.ctas--double {
    @BP: ~ "screen and (max-width: 600px)";
    @BP2: ~ "screen and (max-width: 700px)";


    & > .grid-50-full-screen {

        & > div {

            & h3 {
                font-size: 45px;
                line-height: 1.1;

                margin-bottom: @gutter*2;

                @media @BP2 {
                    font-size: 35px;
                }
            }

            & p {
                font-size: 22px;

                margin-bottom: @gutter*2;

                @media @BP2 {
                    font-size: 20px;
                }
            }


            &:last-child {
                & > div {

                    & > h3,
                    & > p {
                        color: @blue-bright;
                    }
                }
            }


        }

    }


    @media @BP {

        & > .grid-50-full-screen {

            .flex-direction(column);

            & > div {
                width: 100%;


                &:first-child {
                    & > div {

                        & > p,
                        & > h3 {
                            text-align: left;
                        }

                        & a {
                            margin-left: 0;
                            margin-right: auto;
                        }
                    }
                }


            }

        }


    }
}

