// main: master.less


//.grid-66-33.cta-small

.ctas--minimal {
    padding: 48px 24px;
    .display(flex);
    .align-items(center);

    > div {
        @media screen and (max-width: 1024px) {
            float: none;
            display: block;
            width: 100%;
        }
    }

    @media screen and (max-width: 1024px) {
        .display(block);
    }

    .cta-small--text {

        & p {
            margin-bottom: 0;

            @media screen and (max-width: 1024px) {
                margin-bottom: @gutter;
            }

            & + p {
                margin-top: @gutter/2;
            }
        }


        @media screen and (min-width: 600px) and (max-width: 1024px) {}
    }


    .cta-small--image {
        .display(flex);
        .justify-content(center);
    }

    .cta-small--button {
        p {
            margin-bottom: 0;
            text-align: right;

            @media screen and (max-width: 1024px) {
                text-align: left;
            }
        }

        .btn-primary,
        .btn-secondary,
        .btn-ghost {
            display: inline-block;
            width: 100%;
            max-width: 282px;
            margin-bottom: 0;

            @media screen and (max-width: 480px) {
                max-width: 100%;
            }
        }

        @media screen and (max-width: 1024px) {
            padding-top: 8px;
        }
    }
}
