section {
  clear: both;
  overflow: hidden;
}
section > div {
  overflow: hidden;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 24px;
  margin: 0 auto;
  max-width: 1248px;
}
.grid-100 > div {
  width: 100%;
}
.grid-100-full-screen {
  max-width: 900000px;
  padding: 0;
}
.grid-100-full-screen > div {
  width: 100%;
}
.grid-50 > div {
  width: calc(50% - ( 24px / 2));
  margin-right: 24px;
}
.grid-50 > div:nth-child(2n) {
  margin-right: 0;
}
.grid-50-no-space > div {
  width: 50%;
}
.grid-50-full-screen {
  max-width: 900000px;
  padding: 0;
}
.grid-50-full-screen > div {
  width: 50%;
}
.grid-50-full-screen > div:nth-child(odd) > div {
  margin-left: auto;
}
.grid-50-full-screen > div:nth-child(even) > div {
  margin-right: auto;
}
.grid-50-full-screen > div > div {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 1200px / 2 + 48px;
  padding-right: 24px;
  padding-left: 24px;
}
.grid-33 > div {
  width: calc(33.33% - ( 24px * 2 / 3));
  margin-right: 24px;
}
.grid-33 > div:nth-child(3n) {
  margin-right: 0;
}
.grid-25 > div {
  width: calc(25% - ( 24px * 3 / 4));
  margin-right: 24px;
}
.grid-25 > div:nth-child(4n) {
  margin-right: 0;
}
/*# sourceMappingURL=grid.css.map */