// main: master.less


// This file contains styles for page layout, such as grid column settings and inner/outer container elements.


// gutters
@gutter: 24px;
@maxContentSize: 1200px;









// widths
// column width calc formula (column % - (gutter width * total gutters / total columns))
.width-100() {
    width: 100%;
}

.width-50() {
    width: ~"calc(50% - ("@gutter ~"/ 2))";
}

.width-33() {
    width: ~"calc(33.33% - ("@gutter ~"* 2 / 3))";
}

.width-25() {
    width: ~"calc(25% - ("@gutter ~"* 3 / 4))";
}


.grid-column () {
    
}




// containers
section {
    clear: both;
    overflow: hidden;

    & > div {
        overflow: hidden;
        .display(flex);
        .flex-direction(row);
        .flex-wrap(wrap);
        
        padding: 0 @gutter;
        margin: 0 auto;
        
        max-width: @maxContentSize + @gutter*2;
    }

}

// columns
//.grid-column() {
//    display: inline-block;
//    clear: both;
//}

.grid {

    &-100 { 
        & > div {
            .width-100();
        }
    }

    &-100-full-screen {
        max-width: 900000px;

        padding: 0;

        & > div {
            .width-100;
        }
    }

    

    // 50% x2
    &-50 {
        & > div {
            .width-50();

            margin-right: @gutter;

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
    
    // no-margin
    &-50-no-space {
        & > div {
            width: 50%;
        }
    }


    &-50-full-screen {

        max-width: 900000px;
        
        padding: 0;

        & > div {
            width: 50%;


            &:nth-child(odd) {
                & > div {
                    margin-left: auto;

//                    & > h3,
//                    & > p {
//                        text-align: right;
//                    }
//
//                    & > a.btn-secondary {
//                        width: fit-content;
//
//                        margin-left: auto;
//                        margin-right: 0;
//                    }
                }
            }

            &:nth-child(even) {
                & > div {
                    margin-right: auto;
                }
            }

            
            
            
            & > div {
                .display(flex);
                .flex-direction(column);
                width: 100%;
                max-width: @maxContentSize / 2 + @gutter*2;

                padding-right: @gutter;
                padding-left: @gutter;

//                & > a.btn-secondary {
//                    width: fit-content;
//
//                    margin-right: auto;
//                    margin-left: 0;
//                }

            }

        }


    }


    
    // 33% x3
    &-33 > div {
        .width-33();
        
        margin-right: @gutter;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    // 25% x4
    &-25 > div {
        .width-25();
        margin-right: @gutter;

        &:nth-child(4n) {
            margin-right: 0;
        }
    }

    
    
//    // 66%, 33%
//    &-66-33 > div {
//        .grid-column;
//        margin-right: @gutter;
//        width: ~"calc(67% - ("@gutter ~"* 1 / 2))";
//
//        &:nth-child(2n) {
//            margin-right: 0;
//            width: ~"calc(33% - ("@gutter ~"* 1 / 2))";
//        }
//    }
//
//    // 33%, 66%
//    &-33-66 > div {
//        .grid-column;
//        margin-right: @gutter;
//        width: ~"calc(33% - ("@gutter ~"* 1 / 2))";
//
//        &:nth-child(2n) {
//            margin-right: 0;
//            width: ~"calc(67% - ("@gutter ~"* 1 / 2))";
//        }
//    }
//
//    
//    // 75%, 25%
//    &-75-25 > div {
//        .grid-column;
//        margin-right: @gutter;
//        width: ~"calc(75% - ("@gutter ~"* 1 / 2))";
//
//        &:nth-child(2n) {
//            margin-right: 0;
//            width: ~"calc(25% - ("@gutter ~"* 1 / 2))";
//        }
//    }
//
//    // 25%, 75%
//    &-25-75 > div {
//        .grid-column;
//        margin-right: @gutter;
//        width: ~"calc(25% - ("@gutter ~"* 1 / 2))";
//
//        &:nth-child(2n) {
//            margin-right: 0;
//            width: ~"calc(75% - ("@gutter ~"* 1 / 2))";
//        }
//    }

    
//    // 50%, 25%, 25%
//    &-50-25-25 > div {
//        .grid-column;
//
//        &:nth-child(3n+1) {
//            margin-right: @gutter;
//            width: ~"calc(50% - ("@gutter ~"* 2 / 3))";
//        }
//
//        &:nth-child(3n+2) {
//            margin-right: @gutter;
//            width: ~"calc(25% - ("@gutter ~"* 2 / 3))";
//        }
//
//        &:nth-child(3n+3) {
//            margin-right: 0;
//            width: ~"calc(25% - ("@gutter ~"* 2 / 3))";
//        }
//    }
//
//    // 25%, 50%, 25%
//    &-25-50-25 > div {
//        .grid-column;
//
//        &:nth-child(3n+1) {
//            margin-right: @gutter;
//            width: ~"calc(25% - ("@gutter ~"* 2 / 3))";
//        }
//
//        &:nth-child(3n+2) {
//            margin-right: @gutter;
//            width: ~"calc(50% - ("@gutter ~"* 2 / 3))";
//        }
//
//        &:nth-child(3n+3) {
//            margin-right: 0;
//            width: ~"calc(25% - ("@gutter ~"* 2 / 3))";
//        }
//    }
//
//    // 25%, 25%, 50%
//    &-25-25-50 > div {
//        .grid-column;
//
//        &:nth-child(3n+1) {
//            margin-right: @gutter;
//            width: ~"calc(25% - ("@gutter ~"* 2 / 3))";
//        }
//
//        &:nth-child(3n+2) {
//            margin-right: @gutter;
//            width: ~"calc(25% - ("@gutter ~"* 2 / 3))";
//        }
//
//        &:nth-child(3n+3) {
//            margin-right: 0;
//            width: ~"calc(50% - ("@gutter ~"* 2 / 3))";
//        }
//    }
}
