// main: ../master.less





.home-hero {
    @socialIconSize: 4.5rem;
    @socialIconScale: 0.8;
    @transitionTime: 300ms;

    @BP1: ~ "screen and (max-width: 830px)";
    @BP2: ~ "screen and (max-width: 830px)";



    & .grid-50 {
        .display(flex);
        .align-items(center);


        @media @BP1 {
            flex-wrap: wrap;

            & > div {
                .display(flex);
                .flex-direction(column);
                .justify-content(center);
                .align-items(center);
                width: 100%;

                margin-right: 0;

                &:nth-child(odd) {
                    margin-right: 0;
                }
            }

            & img {
                max-width: 500px;
            }

            & h1 {
                text-align: center;
            }
        }


        & img {
            width: 100%;
            height: auto;


        }
    }

    & .grid-100 {
        position: relative;

        & > div {
            .display(flex);
            .flex-direction(row);
        }

        & .lr-form-small {
            @media @BP1 {
                margin-right: auto;
                margin-left: auto;
            }
        }

        & .social-icons {
            .display(flex);
            .align-items(center);
            .flex-wrap(wrap);

            @media @BP1 {
                .justify-content(center);

                margin-top: 1rem;

                & > a {
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }

            & > .separator {
                margin-left: 2rem;

                & > p {
                    margin: 0;
                }

                @media @BP1 {
                    width: 100%;

                    margin-left: 0;

                    & > p {
                        text-align: center;
                    }
                }
            }

            & > a {
                position: relative;
                width: @socialIconSize;
                height: @socialIconSize;

                padding: 1.2rem;

                margin-left: 1rem;

                background-color: @white;
                .borderAction();

                transition: @transitionTime ease-in;

                & > img {
                    display: block;
                    width: 100%;

                    .transform(scale(@socialIconScale));

                    transition: @transitionTime ease-in opacity;
                }

                &:hover {
                    .shadowAction();
                }

                &:first-of-type {
                    @media @BP1 {
                        margin-left: 0;
                    }
                }

                &.loading {
                    & > .loader {
                        .display(flex);
                    }
                }
            }
        }


        & p.faded {
            margin-top: 1rem;

            @media @BP1 {
                text-align: center;
            }
        }


        & .error-message {
            position: absolute;
            top: @spacing/2;
            transform: translateY(0%);

            padding: 0.8rem 1.8rem;

            color: @lr-orange;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.2;

            transition: transform @transition;

            &.error {
                transform: translateY(-100%);
            }
        }


        @media @BP1 {
            & > div {
                .flex-direction(column);
            }
        }
    }

}
