// main: ../master.less






.logos-sphere {

    @beltSize: 8;
    @beltAmount: 2;
    @padding: 0.3rem;

    @logoHeight: 80px;
    @logoHeightSpecial: 100px;
    @logoHeightSpecial2: 150px;

    @BP1: ~ "screen and (max-width: 870px)";
    @BP2: ~ "screen and (max-width: 530px)";

    //        padding-bottom: 10rem;


    & > div {

        .display(flex);
        .flex-wrap(wrap);
        width: 100%;

        & > div {
            width: 100%;
            .display(flex);
            justify-content: center;

            &.line-4 {
                & > div {
                    width: ~"calc( ( ( 100% - "@padding * @beltSize * 2 ~" ) / "@beltSize ~" ) * 0.95 )";
                }

                @media @BP1 {
                    display: none;
                }
            }

            &.line-3 {
                & > div {
                    width: ~"calc( ( ( 100% - "@padding * @beltSize * 2 ~" ) / "@beltSize ~" ) * 0.9 )";
                }

                @media @BP1 {
                    display: none;
                }
            }

            &.line-2 {
                & > div {
                    width: ~"calc( ( ( 100% - "@padding * @beltSize * 2 ~" ) / "@beltSize ~" ) * 0.8 )";
                }

                @media @BP1 {
                    display: none;
                }
            }

            &.line-1 {
                & > div {
                    width: ~"calc( ( ( 100% - "@padding * @beltSize * 2 ~" ) / "@beltSize ~" ) * 0.7 )";
                }

                @media @BP1 {
                    display: none;
                }
            }




            & > div {

                .display(flex);
                .align-items(center);

                width: ~"calc( ( 100% - "@padding * @beltSize * 2 ~" ) / "@beltSize ~")";
                height: @logoHeight;

                & > .content {
                    overflow: hidden;

                    .display(flex);
                    .align-items(center);

                    height: @logoHeight;

                    & > img {
                        display: block;
                        width: 100%;
                    }
                }

                &.popup {

                    margin: @padding;

                    height: @logoHeightSpecial;

                    border-radius: 0.5rem;

                    cursor: pointer;
                    transition: 300ms all ease-in-out;


                    @media @BP2 {
                        height: @logoHeightSpecial2;
                    }

                    & > .content {
                        height: @logoHeightSpecial;

                        @media @BP2 {
                            height: @logoHeightSpecial2;
                        }
                    }

                    &:hover {
                        transform: scale(0.9);

                        & > .content {
                            border: 2px solid @blue-bright;
                        }
                    }


                    & > .content {

                        border: 2px solid @gray-light;
                        border-radius: .5rem;

                        transition: 300ms all ease-in-out;
                    }
                }
            }






            &.line-center {

                @media @BP1 {

                    @beltSize2: @beltSize / 2;


                    .flex-wrap(wrap);

                    & > div {

                        width: ~"calc( ( ( 100% - "@padding * @beltSize2 * 2 ~" ) / "@beltSize2 ~" ) * 1 )";
                    }
                }


                @media @BP2 {
                    @beltSize3: @beltSize / 4;

                    & > div {

                        width: ~"calc( ( ( 100% - "@padding * @beltSize3 * 2 ~" ) / "@beltSize3 ~" ) * 1 )";
                    }
                }
            }

        }

    }
}
