// main: ../master.less






.logos-scrolling {
    width: 100%;
    margin: 0;


    & > div {
        overflow: visible;

        position: relative;
        max-width: 100%;
        min-width: 1400px;

        padding: 0;


        animation-name: example454657687rextcfyvgbuhnj;
        animation-iteration-count: infinite;
        animation-duration: 40s;
        animation-timing-function: linear;


        .example454657687rextcfyvgbuhnj() {
            0% {
                .transform(translateX(0%));
            }

            100% {
                .transform(translateX(-100%));
            }
        }


        @keyframes example454657687rextcfyvgbuhnj {
            .example454657687rextcfyvgbuhnj();
        }

        @-webkit-keyframes example454657687rextcfyvgbuhnj {
            .example454657687rextcfyvgbuhnj();
        }



        &:hover {
            animation-play-state: paused;
        }





        & > a,
        & > div {
            position: absolute;
            top: 0;

            .display(flex);
            .flex-direction(row);

            width: 100%;

            &:nth-child(1) {
                position: relative;
                .transform(translateX(0%));
                z-index: 2;
            }

            &:nth-child(2) {
                position: absolute;
                .transform(translateX(100%));
                z-index: 2;
            }


            & > div {
                width: ~"calc( 100% / 8 )";

                & > img {
                    width: 100%;

                    .transform(scale(0.8));
                    transition: transform @transitionTime;

                    &:hover {
                        .transform(scale(0.7));
                    }
                }

            }

        }

    }



    & > .content {
        position: absolute;
        .display(flex);
        .align-items(center);
        .justify-content(center);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        text-align: center;

        & img {
            max-width: 100%;
            height: auto;

            transition: all 200ms;

            &.large {
                width: 100%;
            }

            &.large-medium {
                width: 85%;
            }

            &.medium {
                width: 75%;
            }

            &.medium-small {
                width: 65%;
            }

            &.small {
                width: 50%;
            }

            &.x-small {
                width: 20%;
            }
        }
    }



}
