// main: ../master.less


// *********************HTML STRUCTURE *********************
//<secion class="bg-light-01 nutshells columns-3">
//    <div>
//        <div>
//            <div class="icon">
//                <img>
//            </div>
//
//            <div class="text">
//                <h4>Heading</h4>
//
//                <p>
//                    Paragraph
//                </p>
//                
//                <a>Learn More</a>
//                
//            </div>
//        </div>
//
//        <div>
//            <div class="icon">
//                <img>
//            </div>
//
//            <div class="text">
//                <h4>Heading</h4>
//
//                <p>
//                    Paragraph
//                </p>
//                
//                <a>Learn More</a>
//                
//            </div>
//        </div>
//    </div>
//</section>




.nutshells {

    & > div {
        .display(flex);
        .justify-content(center);
        .flex-wrap(wrap);
        
        padding-right: @gutter/2;
        padding-left: @gutter/2;
        
        & > div {
            margin-right: @gutter/2;
            margin-left: @gutter/2;
            
            & > .icon {
                .display(flex);
                .justify-content(center);
            }
            
            & > .text {
                margin-top: @gutter;
                        
                & > h4 {
                    text-align: center;
                }
                
                & > p {
                    margin-bottom: @gutter/2;
                }
                
                & > a {
                    
                }
            }
        }
    }

    
    &.columns-3 {
        & > div {
            & > div {
                .width-33();
                
                &:nth-child(n+4) {
                    margin-top: @gutter*3;
                }
            }
        }
    }

    &.columns-4 {
        & > div {
            & > div {
                .width-25();
                
                &:nth-child(n+5) {
                    margin-top: @gutter*3;
                }
            }
        }
    }






}
