// main: master.less

section& {
    @BPsections1: ~ "screen and (max-width: 1000px)";
    @BPsections2: ~ "screen and (max-width: 500px)";


    overflow-x: clip;
    overflow-y: visible;



    & + & {
        padding-top: @spacingLarge;
    }

    & + &.subsection {
        padding-top: @spacingSmall;
    }

    &:first-child {
        padding-top: @spacingSmall;
    }


    &:last-child {
        padding-bottom: @spacingLarge;
    }


    &.subsection:last-child {
        padding-bottom: @spacingSmall;
    }


    @media @BPsections1 {


        & + & {
            padding-top: @spacingLarge2;
        }

        & + &.subsection {
            padding-top: @spacingSmall2;
        }

        &:first-child {
            padding-top: @spacingSmall2;
        }


        &:last-child {
            padding-bottom: @spacingLarge2;
        }


        &.subsection:last-child {
            padding-bottom: @spacingSmall2;
        }
    }











    & h1 {
        color: @blue-darkest;
    }

    & p {
        font-size: 1rem;
    }

    & .faded {
        color: @gray-medium;
    }

    & .title {
        padding-top: 0;
        padding-bottom: 0;
    }


    & > div + div {
        padding-top: @spacing/2;
    }

    & .grid-50 {
        & > div {

            width: ~"calc( ( 100% - 3rem ) / 2 )";

            &:nth-child(odd) {
                margin-right: 3rem;
            }
        }
    }





}
