// main: ../master.less




.sidekick {
    @BP1: ~ "screen and (max-width: 900px)";
    @BP2: ~ "screen and (max-width: 760px)"; // layout change
    @BP3: ~ "screen and (max-width: 600px)";
    @BP4: ~ "screen and (max-width: 599px)";

    // comments to make the alt version text align right and not left

    @maxContentWidth: 28rem;

    &.alt {
        & > .grid-50 {

            & > div {
                .display(flex);
                //                    .align-items(flex-end);
                .flex-direction(column);
                .order(2);

                margin-top: 4rem;

                z-index: 5;

                &:nth-child(1) {
                    .order(1);

                    margin-top: 0rem;

                    z-index: 4;
                }

                & > p,
                & > ul,
                & > ol,
                & > .logos {
                    //                        margin-right: 4rem;
                    //                        margin-left: 0;
                    //                        text-align: right;

                    transition: margin 0ms;


                    @media @BP1 {
                        text-align: left;

                        margin-right: auto;
                        margin-left: auto;
                    }
                }

                & > ul.bullets,
                & > ul.checkmarks {
                    //                        text-align: left;
                }

                & > p {
                    @media @BP1 {
                        //                            text-align: right;
                    }

                    @media @BP2 {
                        //                            text-align: left;
                    }
                }

                & > a {
                    //                        margin-right: 4rem;
                    text-align: center;

                    transition: margin 0ms;

                    @media @BP1 {
                        margin-right: 0;
                    }

                    &.btn-secondary {

                        //                            text-align: right;

                        @media @BP1 {
                            //                                text-align: right;
                        }

                        @media @BP3 {
                            //                                text-align: center;
                        }
                    }
                }

            }
        }
    }





    & > .grid-50 {
        .display(flex);
        .align-items(center);
        overflow: visible;

        @media @BP2 {
            flex-wrap: wrap;
        }

        & > div {
            position: relative;
            overflow: visible;
            .display(flex);
            .flex-direction(column);

            z-index: 5;

            &:nth-child(2) {
                z-index: 4;
            }

            @media @BP2 {
                width: 100%;

                margin-right: 0;
                margin-left: 0;

                &:nth-child(1) {
                    .order(2);

                    margin-right: 0;
                    margin-left: 0;
                    margin-top: 4rem;
                }

                &:nth-child(2) {
                    .order(1);
                }
            }

            & > h2 {
                max-width: @maxContentWidth;
                margin-bottom: 0;

                @media @BP2 {
                    margin-right: auto;
                    margin-left: auto;

                    text-align: center;
                }

                @media @BP3 {
                    font-size: 42px;
                    line-height: 1.2;
                }

                & + p,
                & + ul,
                & + ol,
                & + a {
                    margin-top: 3rem;
                }
            }


            & > p,
            & > ul,
            & > ol,
            & > a,
            & > .logos {
                margin-left: 4rem;
                margin-bottom: 0;
                margin-top: @spacing/4;

                transition: margin 0ms;

                @media @BP1 {
                    text-align: left;

                    margin-right: auto;
                    margin-left: auto;
                }
            }


            & a.btn-primary {

                @media @BP1 {
                    margin-left: 0;

                    text-align: center;
                }


                @media @BP2 {
                    margin-right: auto;
                    margin-left: auto;

                    text-align: center;
                }
            }

            & a.btn-secondary {
                display: inline-block;

                padding: 0;



                color: @blue-bright;
                font-weight: 400;
                line-height: 1.2;
                text-align: left;
                text-transform: none;

                border: none;

                .transform(none);

                &:hover {
                    background-color: transparent;
                    box-shadow: none;
                    text-decoration: underline;
                }

                @media @BP1 {
                    margin-left: 0;
                }


                @media @BP2 {
                    display: block;

                    margin-right: auto;
                    margin-left: auto;

                    text-align: center;
                }
            }

            & p {
                max-width: @maxContentWidth;

                font-size: 2.2rem;
                line-height: 1.3;

                @media @BP2 {
                    text-align: left;

                    margin-right: auto;
                    margin-left: auto;
                }
            }






            & img {
                width: 100%;
                max-width: 100%;
                height: auto;

                margin-right: auto;
                margin-left: auto;

                @media @BP2 {

                    max-width: 70%;
                }
            }




            & img.screenshot {
                width: 100%;
                max-width: 100%;
                height: auto;

                .shadowAction();
                .borderImage();
            }

            & img.photo {
                width: 100%;
                max-width: 100%;
                height: auto;

                .shadowAction();
                .borderImage();
            }






            & .logos {
                .display(flex);
                .flex-direction(row);
                .justify-content(space-between);
                .align-items(center);


                & > a {
                    margin-right: 2rem;

                    &:last-child {
                        margin-right: 0;
                    }


                    &:hover {
                        & > img {
                            .transform(scale(0.85));
                        }
                    }


                    & > img {
                        width: 100%;
                        max-width: 100%;

                        transition: transform @transitionTime;
                    }
                }
            }
        }
    }

}
