// main: ../master.less










.pricing-sliders {

    @BP1: ~ "screen and (max-width: 700px)";

    padding-top: 0rem;


    & .selector {
        position: relative;

        @media @BP1 {
            width: 100%;
        }

        & .ranges {
            display: flex;
            justify-content: space-between;

            &.ranges-with-ticks {
                position: absolute;
                width: 100%;
                top: 17px;
                .justify-content(space-between);

                pointer-events: none;
            }


            & > p {
                position: relative;
                width: @gutter;

                margin-bottom: 0;

                text-align: center;
                font-size: .7rem;


                &.ticks {
                    .display(flex);
                    .justify-content(center);
                    width: @gutter;
                    height: 6px;

                    &:after {
                        content: "";
                        .display(flex);
                        width: 2px;

                        background-color: @white;

                    }
                }
            }
        }



        &.slider-1-1 {

            & p {
                font-size: .7rem;
            }
        }

    }


    & + .pricing-cards {
        margin-top: 0;
    }

}
