// main: ../master.less









.lr-table-style {

    @minWidth: 950px;

    & table {
        min-width: @minWidth;
    }

    & td,
    & th {
        padding: 1rem 2rem;
    }

    & .accordion-head {
        @headSize: 4rem;

        height: @headSize;

        &-bg {
            min-width: @minWidth;
        }

        & > p {
            padding: 0 2rem;
        }

        & .icon {
            width: @headSize;
            height: @headSize;

            & > span {
                width: 35%;
            }
        }

        & + table {
            display: none;
        }
    }


    &.comparison {

        & tbody {
            & tr {
                &:last-child {
                    & td {
                        border-bottom: none;
                    }
                }
            }

            & td {
                &:nth-child(1) {
                    color: @gray-dark;
                    font-weight: 700;

                    background-color: @white;

                    border: none;
                    border-bottom: 1px solid @blue-pale;
                    border-right: 1px solid @blue-pale;
                }

                &:not(:nth-child(1)) {
                    background-color: @white  !important;
                    border: none;
                    border-bottom: 1px solid @blue-pale;
                }
            }
        }



        &.three-items {

            & thead {
                & th {
                    height: 5rem;

                    background-color: @white;

                    & > a {
                        line-height: 1.2;
                        font-size: 1.1rem;

                        &:not(.expand-all) {
                            text-decoration: underline;
                        }
                    }
                }
            }

        }


    }

    & .accordion-head {

        &.expanded {
            & .accordion-head-bg {
                background-color: @blue-pale;
            }
        }

        & .accordion-head-bg {
            background-color: @blue-pale;
        }

        & > p {
            color: @gray-dark;
        }
    }

    & .icon {
        & > span {
            background-color: @blue-bright;
        }
    }




    & .tooltip-container {

        & > span {
            padding-right: 1rem;
        }

        & > .tooltip {
            left: 0.5rem;
            right: 0.5rem;

            font-weight: 400;

            background-color: @white  !important;


            &:after {
                border-top-color: @white  !important;
            }
        }
    }

}
