// main: ../master.less






.testimonials {

    @BP1: ~ "screen and (max-width: 1000px)";

    & > div {

        @media @BP1 {
            .display(flex);
            .flex-direction(column);
        }


        & > div {
            margin-bottom: 5rem;

            @media @BP1 {
                width: 100% !important;
                max-width: 600px !important;

                margin-right: auto !important;
                margin-left: auto !important;
            }

            &:last-child {
                margin-bottom: 0;

                @media @BP1 {
                    margin-bottom: 0;
                }
            }

            &:nth-last-child(2) {
                margin-bottom: 0;

                @media @BP1 {
                    margin-bottom: 5rem;
                }
            }
        }


        & .graphic {

            & .person {
                display: block;
                width: 100%;

                & > img {
                    display: block;
                    width: 100%;

                    .borderAction();
                }
            }


            & .logo {
                display: block;
                width: 100%;
                max-width: 60%;

                margin-right: auto;
                margin-left: auto;
                margin-top: 2rem;

                & > img {
                    display: block;
                    width: 100%;

                    border-radius: 0;
                }
            }
        }


        & .quote {
            & > .block-quote {

                & p {
                    font-size: 1rem;
                    line-height: 1.4;
                }
            }
        }

    }

}
